
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612389338625344299.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-612389338625344299.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612389338625344299.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-612389338625344299.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612389338625344299.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612389338625344299.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612389338625344299.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-612389338625344299.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612389338625344299.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612389338625344299.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612389338625344299.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612389338625344299.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-612389338625344299.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612389338625344299.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-612389338625344299.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612389338625344299.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612389338625344299.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-612389338625344299.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612389338625344299.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-612389338625344299.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-612389338625344299.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612389338625344299.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612389338625344299.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-612389338625344299.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612389338625344299.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-612389338625344299.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612389338625344299.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-612389338625344299.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612389338625344299.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612389338625344299.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612389338625344299.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-612389338625344299.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612389338625344299.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-612389338625344299.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612389338625344299.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612389338625344299.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612389338625344299.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-612389338625344299.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612389338625344299.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612389338625344299.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612389338625344299.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612389338625344299.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612389338625344299.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612389338625344299.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612389338625344299.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612389338625344299.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612389338625344299.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612389338625344299.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612389338625344299.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612389338625344299.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612389338625344299.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612389338625344299.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612389338625344299.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612389338625344299.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612389338625344299.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-612389338625344299.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612389338625344299.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612389338625344299.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612389338625344299.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612389338625344299.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-612389338625344299.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612389338625344299.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612389338625344299.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612389338625344299.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-612389338625344299.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612389338625344299.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612389338625344299.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612389338625344299.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-612389338625344299.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612389338625344299.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612389338625344299.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612389338625344299.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612389338625344299.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612389338625344299.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-612389338625344299.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-612389338625344299.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-612389338625344299.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612389338625344299.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612389338625344299.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-612389338625344299.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612389338625344299.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612389338625344299.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612389338625344299.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-612389338625344299.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612389338625344299.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612389338625344299.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612389338625344299.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612389338625344299.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612389338625344299.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612389338625344299.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612389338625344299.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-612389338625344299.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612389338625344299.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-612389338625344299.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612389338625344299.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612389338625344299 .-gp-rotate-90,.gps-612389338625344299 .gp-rotate-180,.gps-612389338625344299 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-612389338625344299 .gp-relative{position:relative}.gps-612389338625344299 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612389338625344299 .gp-mb-0{margin-bottom:0}.gps-612389338625344299 .gp-flex{display:flex}.gps-612389338625344299 .gp-inline-flex{display:inline-flex}.gps-612389338625344299 .gp-grid{display:grid}.gps-612389338625344299 .\!gp-hidden{display:none!important}.gps-612389338625344299 .gp-hidden{display:none}.gps-612389338625344299 .gp-h-full{height:100%}.gps-612389338625344299 .gp-min-h-0{min-height:0}.gps-612389338625344299 .\!gp-w-full{width:100%!important}.gps-612389338625344299 .gp-w-full{width:100%}.gps-612389338625344299 .gp-max-w-full{max-width:100%}.gps-612389338625344299 .gp-shrink-0{flex-shrink:0}.gps-612389338625344299 .-gp-rotate-90{--tw-rotate:-90deg}.gps-612389338625344299 .-gp-rotate-90,.gps-612389338625344299 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-612389338625344299 .gp-rotate-180{--tw-rotate:180deg}.gps-612389338625344299 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-612389338625344299 .gp-cursor-pointer{cursor:pointer}.gps-612389338625344299 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-612389338625344299 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612389338625344299 .gp-flex-col{flex-direction:column}.gps-612389338625344299 .gp-items-center{align-items:center}.gps-612389338625344299 .gp-justify-center{justify-content:center}.gps-612389338625344299 .gp-gap-\[16px\]{gap:16px}.gps-612389338625344299 .gp-overflow-hidden{overflow:hidden}.gps-612389338625344299 .gp-overflow-clip{overflow:clip}.gps-612389338625344299 .gp-break-words{overflow-wrap:break-word}.gps-612389338625344299 .gp-break-all{word-break:break-all}.gps-612389338625344299 .gp-border{border-width:1px}.gps-612389338625344299 .gp-border-transparent{border-color:transparent}.gps-612389338625344299 .gp-text-left{text-align:left}.gps-612389338625344299 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-612389338625344299 .gp-no-underline{text-decoration-line:none}.gps-612389338625344299 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612389338625344299 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612389338625344299 .gp-duration-200{transition-duration:.2s}.gps-612389338625344299 .gp-duration-500{transition-duration:.5s}.gps-612389338625344299 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612389338625344299 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-612389338625344299 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-612389338625344299 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-612389338625344299 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}.gps-612389338625344299 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-612389338625344299 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-612389338625344299 .tablet\:\!gp-hidden{display:none!important}.gps-612389338625344299 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612389338625344299 .mobile\:\!gp-hidden{display:none!important}.gps-612389338625344299 .mobile\:gp-hidden{display:none}}.gps-612389338625344299 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-612389338625344299 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-612389338625344299 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-612389338625344299 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}@media (max-width:1024px){.gps-612389338625344299 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-612389338625344299 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-612389338625344299 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-612389338625344299 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-612389338625344299 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-612389338625344299 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFDE6","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g1KxJkTLvJ"}' data-id="g1KxJkTLvJ" id="g1KxJkTLvJ" data-same-height-subgrid-container class="g1KxJkTLvJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--mt:0px;--pt:60px;--pl:0px;--pb:60px;--mt-tablet:0px;--pt-tablet:60px;--pl-tablet:0px;--pb-tablet:60px;--mt-mobile:0px;--pt-mobile:40px;--pl-mobile:0px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFDE6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmgIIKnplR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gU6ndxvyPo"}' data-id="gU6ndxvyPo" id="gU6ndxvyPo" data-same-height-subgrid-container class="gU6ndxvyPo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:15px;--pb:0px;--pr:15px;--mb-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gL_U-9UDNK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gM5I9NPv5q"
        class="gM5I9NPv5q"
        style="--ta:left;--mt-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-heroline, 'heroline'), var(--g-font-heading, heading);--weight:400;--size:45px;--size-tablet:40px;--size-mobile:32px;--lh:110%;--lh-tablet:110%;--lh-mobile:110%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggM5I9NPv5q_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--mt:50px;--mb:50px;--mt-tablet:50px;--mb-tablet:50px;--mt-mobile:40px;--mb-mobile:40px" class="gpXWvQkHup ">
      
    <gp-accordion data-id="gpXWvQkHup" class="gp-flex gp-flex-col gp-w-full" style="--gg:16px;border-radius:inherit"
      gp-data='{"uid":"gpXWvQkHup","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"8px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","iconCollapseSize":"45","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gpXWvQkHup","childListNumber":[],"chidlrenUid":["gq181LHBe5","gOD75mDTCT","gFj_AWNCmn","gFVJDHLPfI","gPK_UPJYnc","gTq0ezi6Zf"]},"styles":{"bgColor":{"normal":"#FFDB8F"},"color":{"normal":"#FFFFFF"},"headerBorder":{"normal":{"border":"none"}},"textColor":{"normal":"#121212"},"iconColor":{"normal":"text-1"},"contentSizePadding":{"desktop":{"padding":{"top":"6px","left":"32px","right":"16px","bottom":"6px","linked":false,"link":false},"gap":"16px"}},"headerContentPadding":{"desktop":{"padding":{"top":"12px","left":"32px","right":"16px","bottom":"12px","linked":false,"link":false}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#FFFFFF;--icon-expand-active-color:#FFFFFF;--icon-active-color:var(--g-c-text-1, text-1);--icon-hover-color:var(--g-c-text-1, text-1);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
    <div data-index="0" class="gpXWvQkHup gp-overflow-hidden gp-child-item-gpXWvQkHup gp-accordion-item">
      <div aria-hidden uid="gq181LHBe5" id="gq181LHBe5" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gpXWvQkHup gp-accordion-item-gpXWvQkHup-0" style="--pl:32px;--pr:16px;--pt:12px;--pb:12px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:#FFDB8F;--bs:none">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFFFFF;width:45px;height:45px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:8px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:24px;--size-tablet:22px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpXWvQkHup_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:32px;--pr:16px">
          <div
      data-same-height-display-contents
      
      class="g_0w3TNXmY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8i6PzUgOe"
        class="g8i6PzUgOe"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8i6PzUgOe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#FFFFFF;--icon-expand-active-color:#FFFFFF;--icon-active-color:var(--g-c-text-1, text-1);--icon-hover-color:var(--g-c-text-1, text-1);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
    <div data-index="1" class="gpXWvQkHup gp-overflow-hidden gp-child-item-gpXWvQkHup gp-accordion-item">
      <div aria-hidden uid="gOD75mDTCT" id="gOD75mDTCT" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gpXWvQkHup gp-accordion-item-gpXWvQkHup-1" style="--pl:32px;--pr:16px;--pt:12px;--pb:12px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:#FFDB8F;--bs:none">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFFFFF;width:45px;height:45px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:8px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:24px;--size-tablet:22px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpXWvQkHup_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:32px;--pr:16px">
          <div
      data-same-height-display-contents
      
      class="gcYpUEQ0uz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gljbLDxZCu"
        class="gljbLDxZCu"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggljbLDxZCu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#FFFFFF;--icon-expand-active-color:#FFFFFF;--icon-active-color:var(--g-c-text-1, text-1);--icon-hover-color:var(--g-c-text-1, text-1);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
    <div data-index="2" class="gpXWvQkHup gp-overflow-hidden gp-child-item-gpXWvQkHup gp-accordion-item">
      <div aria-hidden uid="gFj_AWNCmn" id="gFj_AWNCmn" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gpXWvQkHup gp-accordion-item-gpXWvQkHup-2" style="--pl:32px;--pr:16px;--pt:12px;--pb:12px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:#FFDB8F;--bs:none">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFFFFF;width:45px;height:45px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:8px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:24px;--size-tablet:22px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpXWvQkHup_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:32px;--pr:16px">
          <div
      data-same-height-display-contents
      
      class="gzfQxcpdzI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvFtfTkF5T"
        class="gvFtfTkF5T"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvFtfTkF5T_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#FFFFFF;--icon-expand-active-color:#FFFFFF;--icon-active-color:var(--g-c-text-1, text-1);--icon-hover-color:var(--g-c-text-1, text-1);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
    <div data-index="3" class="gpXWvQkHup gp-overflow-hidden gp-child-item-gpXWvQkHup gp-accordion-item">
      <div aria-hidden uid="gFVJDHLPfI" id="gFVJDHLPfI" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gpXWvQkHup gp-accordion-item-gpXWvQkHup-3" style="--pl:32px;--pr:16px;--pt:12px;--pb:12px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:#FFDB8F;--bs:none">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFFFFF;width:45px;height:45px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:8px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:24px;--size-tablet:22px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpXWvQkHup_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:32px;--pr:16px">
          <div
      data-same-height-display-contents
      
      class="gDKd00THNx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gC45EVc6Bw"
        class="gC45EVc6Bw"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggC45EVc6Bw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#FFFFFF;--icon-expand-active-color:#FFFFFF;--icon-active-color:var(--g-c-text-1, text-1);--icon-hover-color:var(--g-c-text-1, text-1);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
    <div data-index="4" class="gpXWvQkHup gp-overflow-hidden gp-child-item-gpXWvQkHup gp-accordion-item">
      <div aria-hidden uid="gPK_UPJYnc" id="gPK_UPJYnc" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gpXWvQkHup gp-accordion-item-gpXWvQkHup-4" style="--pl:32px;--pr:16px;--pt:12px;--pb:12px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:#FFDB8F;--bs:none">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFFFFF;width:45px;height:45px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:8px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:24px;--size-tablet:22px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpXWvQkHup_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:32px;--pr:16px">
          <div
      data-same-height-display-contents
      
      class="gIDAq2LPzX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKLbG-d1ji"
        class="gKLbG-d1ji"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKLbG-d1ji_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#FFFFFF;--icon-expand-active-color:#FFFFFF;--icon-active-color:var(--g-c-text-1, text-1);--icon-hover-color:var(--g-c-text-1, text-1);--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
    <div data-index="5" class="gpXWvQkHup gp-overflow-hidden gp-child-item-gpXWvQkHup gp-accordion-item">
      <div aria-hidden uid="gTq0ezi6Zf" id="gTq0ezi6Zf" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gpXWvQkHup gp-accordion-item-gpXWvQkHup-5" style="--pl:32px;--pr:16px;--pt:12px;--pb:12px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:#FFDB8F;--bs:none">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFFFFF;width:45px;height:45px"
            data-index="5"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:8px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:24px;--size-tablet:22px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpXWvQkHup_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:32px;--pr:16px">
          <div
      data-same-height-display-contents
      
      class="glNiawQKJ- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbuBKym1a9"
        class="gbuBKym1a9"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbuBKym1a9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
      <style id="custom-css-gpXWvQkHup">
        .gpXWvQkHup {

}

.gp-accordion-item_header {
    border-radius: 5rem !important;
}

span.group-hover\:\[color\:var\(--icon-expand-hover-color\)\].gp-collapsible-icon.gp-accordion-item_icon.gp-inline-flex.gp-items-center.gp-justify-center.gp-overflow-hidden.gp-transition-all.gp-duration-200.\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\].\[\&\>svg\]\:\!gp-w-full {
    padding: .5rem;
    background: #F15722;
    border-radius: 5rem;
}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gDtEsGbWp6"}' data-id="gDtEsGbWp6" id="gDtEsGbWp6" data-same-height-subgrid-container class="gDtEsGbWp6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWyAnNPnYV gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gF01h_EDti"].gp-button-base::before, [data-id="gF01h_EDti-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gF01h_EDti"]:hover::before, [data-id="gF01h_EDti-interaction"]:hover::before {
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #3CB0BC;
  
    
  }</style>
        
        <button
          data-id="gF01h_EDti" dataId="gF01h_EDti" data-state="idle" aria-label="<p>Shop bow</p><p>&nbsp;</p><p>&nbsp;</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:70px;--pr:70px;--pt:20px;--pb:14px;--pl-tablet:70px;--pr-tablet:70px;--pt-tablet:16px;--pb-tablet:10px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:20px;--pb-mobile:14px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--bgi:;--hvr-bgi:;--bg:#3CB0BC;--hvr-bg:transparent;--hvr-c:#3CB0BC;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-heroline, 'heroline'), var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:22px;--size-mobile:16px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase"
          class="gF01h_EDti gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-heroline, 'heroline'), var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:22px;--size-mobile:16px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggF01h_EDti_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gMu4aX7S1T"}' data-id="gMu4aX7S1T" id="gMu4aX7S1T" data-same-height-subgrid-container class="gMu4aX7S1T gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8sN6qd41T gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gNI_JcU2I- ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gNI_JcU2I-"
      data-id="gNI_JcU2I-"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gNI_JcU2I-"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"22","tablet":"22"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:right;--jc-mobile:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:4px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gNI_JcU2I-"
                      style="--cg:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#F15722;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:22px;--size-mobile:22px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNI_JcU2I-_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gS-G8imJqc gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="ghFxDx_LgN ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="ghFxDx_LgN"
      data-id="ghFxDx_LgN"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="ghFxDx_LgN"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"22","tablet":"22"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left;--jc-mobile:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:4px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-ghFxDx_LgN"
                      style="--cg:4px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#F15722;--w:100%;--h:100%;--size-desktop:22px;--size-tablet:22px;--size-mobile:22px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghFxDx_LgN_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-612389338625344299 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612315189068432171&sectionId=612389338625344299)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggM5I9NPv5q_text","label":"ggM5I9NPv5q_text","default":"Frequently Asked Questions"},{"type":"html","id":"ggpXWvQkHup_childItem_0","label":"ggpXWvQkHup_childItem_0","default":"<p>Is your soap safe for sensitive skin and conditions like eczema or rosacea?</p>"},{"type":"html","id":"ggpXWvQkHup_childItem_1","label":"ggpXWvQkHup_childItem_1","default":"<p>Will this help clear my acne or improve my skin?</p>"},{"type":"html","id":"ggpXWvQkHup_childItem_2","label":"ggpXWvQkHup_childItem_2","default":"<p>What makes your soap different from other “natural” brands?</p>"},{"type":"html","id":"ggpXWvQkHup_childItem_3","label":"ggpXWvQkHup_childItem_3","default":"<p>Is this really worth the price?</p>"},{"type":"html","id":"ggpXWvQkHup_childItem_4","label":"ggpXWvQkHup_childItem_4","default":"<p>Can I use this on my face (or on kids)?</p>"},{"type":"html","id":"ggpXWvQkHup_childItem_5","label":"ggpXWvQkHup_childItem_5","default":"<p>What if I don’t like it?</p>"},{"type":"html","id":"gg8i6PzUgOe_text","label":"gg8i6PzUgOe_text","default":"<p>Our bar soap is an excellent choice for babies. Our soap is mostly tallow which is perfect for sensitive skin. We recommend using our unscented variation as some babies might be sensitive to essential oils.</p>"},{"type":"html","id":"ggljbLDxZCu_text","label":"ggljbLDxZCu_text","default":"<p>Most of the time skin issues are related to your diet and gut health. For this reason we cannot guarantee that our soap will heal your skin. But we have had dozens of customers report back to us with improved skin conditions! Sometimes you are a simple soap swap away from your best skin. Like our founder. About Us</p>"},{"type":"html","id":"ggvFtfTkF5T_text","label":"ggvFtfTkF5T_text","default":"<p>While most other brands rely on cheap oils that waste away quickly in a soap bar, we use beef tallow which creates a very hard, long lasting bar. It’s also a much more sustainable option compared to palm oil. Additionally, we only use organic essential oils for fragrance, whereas most other soap companies are using synthetic fragrances that are harming your health.</p>"},{"type":"html","id":"ggC45EVc6Bw_text","label":"ggC45EVc6Bw_text","default":"<p>Many of our customers will notice our soap bars are not only larger than most others, but they last longer too. With proper care, you can expect your bar of soap to last 6-8 weeks.</p>"},{"type":"html","id":"ggKLbG-d1ji_text","label":"ggKLbG-d1ji_text","default":"<p>Absolutely. It is safe for sensitive skin like on the face and for kids and babies.</p>"},{"type":"html","id":"ggbuBKym1a9_text","label":"ggbuBKym1a9_text","default":"<p>No worries, we offer a customer satisfaction guarantee.</p>"},{"type":"html","id":"ggF01h_EDti_label","label":"ggF01h_EDti_label","default":"<p>Shop bow</p><p>&nbsp;</p><p>&nbsp;</p>"},{"type":"html","id":"ggNI_JcU2I-_childItem_0","label":"ggNI_JcU2I-_childItem_0","default":"<p>70k+ Happy Customers</p>"},{"type":"html","id":"gghFxDx_LgN_childItem_0","label":"gghFxDx_LgN_childItem_0","default":"<p>Lifetime Guarantee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}