
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607248870157583108.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607248870157583108.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607248870157583108.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607248870157583108.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607248870157583108.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607248870157583108.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607248870157583108.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607248870157583108.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607248870157583108.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607248870157583108.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607248870157583108.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607248870157583108.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607248870157583108.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607248870157583108.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607248870157583108.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607248870157583108.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607248870157583108.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607248870157583108.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607248870157583108.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607248870157583108.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607248870157583108.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607248870157583108.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-607248870157583108.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607248870157583108.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607248870157583108.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607248870157583108.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607248870157583108.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607248870157583108.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607248870157583108.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607248870157583108.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607248870157583108.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607248870157583108.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-607248870157583108.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607248870157583108.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607248870157583108.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607248870157583108.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607248870157583108.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607248870157583108.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607248870157583108.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607248870157583108.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607248870157583108.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607248870157583108.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607248870157583108.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607248870157583108.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607248870157583108.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607248870157583108.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607248870157583108.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607248870157583108.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607248870157583108.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-607248870157583108.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607248870157583108.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607248870157583108.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607248870157583108.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607248870157583108.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607248870157583108.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607248870157583108.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-607248870157583108.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607248870157583108.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-607248870157583108.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607248870157583108.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607248870157583108.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607248870157583108.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607248870157583108.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607248870157583108.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607248870157583108.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607248870157583108.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607248870157583108.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607248870157583108.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-607248870157583108.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607248870157583108.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607248870157583108.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607248870157583108.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607248870157583108.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-607248870157583108.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-607248870157583108.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607248870157583108.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607248870157583108.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607248870157583108.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-607248870157583108.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607248870157583108.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607248870157583108.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607248870157583108.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607248870157583108.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607248870157583108.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607248870157583108.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607248870157583108.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-607248870157583108.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607248870157583108.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607248870157583108.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607248870157583108 .gp-relative{position:relative}.gps-607248870157583108 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607248870157583108 .gp-mb-0{margin-bottom:0}.gps-607248870157583108 .gp-inline-block{display:inline-block}.gps-607248870157583108 .gp-flex{display:flex}.gps-607248870157583108 .gp-grid{display:grid}.gps-607248870157583108 .gp-contents{display:contents}.gps-607248870157583108 .\!gp-hidden{display:none!important}.gps-607248870157583108 .gp-hidden{display:none}.gps-607248870157583108 .gp-h-auto{height:auto}.gps-607248870157583108 .gp-h-full{height:100%}.gps-607248870157583108 .gp-w-full{width:100%}.gps-607248870157583108 .gp-max-w-full{max-width:100%}.gps-607248870157583108 .gp-flex-none{flex:none}.gps-607248870157583108 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607248870157583108 .gp-flex-col{flex-direction:column}.gps-607248870157583108 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607248870157583108 .gp-duration-200{transition-duration:.2s}.gps-607248870157583108 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607248870157583108 .tablet\:\!gp-hidden{display:none!important}.gps-607248870157583108 .tablet\:gp-hidden{display:none}.gps-607248870157583108 .tablet\:gp-h-auto{height:auto}.gps-607248870157583108 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-607248870157583108 .mobile\:\!gp-hidden{display:none!important}.gps-607248870157583108 .mobile\:gp-hidden{display:none}.gps-607248870157583108 .mobile\:gp-h-auto{height:auto}.gps-607248870157583108 .mobile\:gp-flex-none{flex:none}}.gps-607248870157583108 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:relative;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gKvUEYKokJ"}' data-id="gKvUEYKokJ" id="gKvUEYKokJ" data-same-height-subgrid-container class="gKvUEYKokJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:60px;--pb:30px;--pt-tablet:60px;--pb-tablet:30px;--pt-mobile:40px;--pb-mobile:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8322xqjhO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g1_5acyREk"}' data-id="g1_5acyREk" id="g1_5acyREk" data-same-height-subgrid-container class="g1_5acyREk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:15px;--pb:0px;--pr:15px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1185px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPtxQv3Iox gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGF5-hvGci"
        class="gGF5-hvGci"
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:28px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGF5-hvGci_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzOtl2U7ub"
        class="gzOtl2U7ub"
        style="--ta:left;--mt:25px;--mt-tablet:25px;--mt-mobile:25px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzOtl2U7ub_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gJxZUL45z4"}' data-id="gJxZUL45z4" id="gJxZUL45z4" data-same-height-subgrid-container class="gJxZUL45z4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:40px;--mt-tablet:40px;--mt-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:40px;--cg-mobile:35px;--rg:16px;--rg-tablet:16px;--rg-mobile:35px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWgmrz7xWo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gg1onwpQTJ"}' data-id="gg1onwpQTJ" id="gg1onwpQTJ" data-same-height-subgrid-container class="gg1onwpQTJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6kyeAInh4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkRfOBL2Np"
        class="gkRfOBL2Np"
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:28px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#135D4B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkRfOBL2Np_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUSY2YA5ZF"
        class="gUSY2YA5ZF"
        style="--ta:left;--ta-mobile:center;--mt:15px;--mt-tablet:15px;--mt-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUSY2YA5ZF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gXy2DwOIMA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gKK57m2A0h"}' data-id="gKK57m2A0h" id="gKK57m2A0h" data-same-height-subgrid-container class="gKK57m2A0h gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCv3RM7apx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpSmO16R03"
        class="gpSmO16R03"
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:28px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#135D4B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpSmO16R03_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP_b2Nw9OV"
        class="gP_b2Nw9OV"
        style="--ta:left;--ta-mobile:center;--mt:15px;--mt-tablet:15px;--mt-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP_b2Nw9OV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gPGW3Goqgg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gSX-gvtsnh"}' data-id="gSX-gvtsnh" id="gSX-gvtsnh" data-same-height-subgrid-container class="gSX-gvtsnh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPlSKS4cZH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gM-vG1HOEB"
        class="gM-vG1HOEB"
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:28px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#135D4B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggM-vG1HOEB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZa4cxZZ5W"
        class="gZa4cxZZ5W"
        style="--ta:left;--ta-mobile:center;--mt:15px;--mt-tablet:15px;--mt-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZa4cxZZ5W_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gWiud8w-bx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gxJvnOBURZ"}' data-id="gxJvnOBURZ" id="gxJvnOBURZ" data-same-height-subgrid-container class="gxJvnOBURZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_dVZvQZq4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLqr44dbXy"
        class="gLqr44dbXy"
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:28px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#135D4B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLqr44dbXy_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_wMtPRT9j"
        class="g_wMtPRT9j"
        style="--ta:left;--ta-mobile:center;--mt:15px;--mt-tablet:15px;--mt-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_wMtPRT9j_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVYtqtFTSj"
        class="gVYtqtFTSj"
        style="--ta:left;--mt:40px;--mt-tablet:40px;--mt-mobile:40px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVYtqtFTSj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="gVJHjlIQjp"
      style="--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:absolute;--right:0px;--bottom:-50px;--bottom-mobile:-40px;--z:1;--left:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232725083 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gVJHjlIQjp"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggVJHjlIQjp_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggVJHjlIQjp_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ section.settings.ggVJHjlIQjp_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ section.settings.ggVJHjlIQjp_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-607248870157583108 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607167922405638711&sectionId=607248870157583108)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGF5-hvGci_text","label":"ggGF5-hvGci_text","default":"The Science Supporting Rosabella"},{"type":"html","id":"ggzOtl2U7ub_text","label":"ggzOtl2U7ub_text","default":"<p>Results from clinical studies on Rosabella's Moringa:</p>"},{"type":"html","id":"ggkRfOBL2Np_text","label":"ggkRfOBL2Np_text","default":"42%"},{"type":"html","id":"ggUSY2YA5ZF_text","label":"ggUSY2YA5ZF_text","default":"<p>Reported a significant increase in energy levels within just 14 days.</p>"},{"type":"html","id":"ggpSmO16R03_text","label":"ggpSmO16R03_text","default":"38%"},{"type":"html","id":"ggP_b2Nw9OV_text","label":"ggP_b2Nw9OV_text","default":"<p>Experienced deeper, more restorative sleep.</p>"},{"type":"html","id":"ggM-vG1HOEB_text","label":"ggM-vG1HOEB_text","default":"67%"},{"type":"html","id":"ggZa4cxZZ5W_text","label":"ggZa4cxZZ5W_text","default":"<p>Showed a reduction in oxidative stress, supporting immunity and resilience.</p>"},{"type":"html","id":"ggLqr44dbXy_text","label":"ggLqr44dbXy_text","default":"84%"},{"type":"html","id":"gg_wMtPRT9j_text","label":"gg_wMtPRT9j_text","default":"<p>Noticed healthier skin, stronger nails, and improved hair quality.</p>"},{"type":"html","id":"ggVYtqtFTSj_text","label":"ggVYtqtFTSj_text","default":"<p>With Rosabella Moringa, you’re giving your body the nutrients it needs to thrive—backed by real results.</p>"},{"type":"html","id":"ggVJHjlIQjp_srcSet_desktop_src","label":"ggVJHjlIQjp_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/1734002266-img_shape_two.svg"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}