
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607382152488682070.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607382152488682070.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607382152488682070.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607382152488682070.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607382152488682070.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607382152488682070.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607382152488682070.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607382152488682070.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607382152488682070.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607382152488682070.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607382152488682070.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607382152488682070.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607382152488682070.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607382152488682070.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607382152488682070.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607382152488682070.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607382152488682070.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607382152488682070.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607382152488682070.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607382152488682070.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607382152488682070.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607382152488682070.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607382152488682070.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607382152488682070.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607382152488682070.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607382152488682070.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607382152488682070.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607382152488682070.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607382152488682070.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607382152488682070.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607382152488682070.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-607382152488682070.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607382152488682070.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607382152488682070.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607382152488682070.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607382152488682070.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607382152488682070.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-607382152488682070.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607382152488682070.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607382152488682070.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607382152488682070.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607382152488682070.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-607382152488682070.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607382152488682070.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607382152488682070.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607382152488682070.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607382152488682070.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607382152488682070.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607382152488682070.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607382152488682070.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-607382152488682070.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607382152488682070.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607382152488682070.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607382152488682070.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607382152488682070.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-607382152488682070.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607382152488682070.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607382152488682070.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607382152488682070.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-607382152488682070.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607382152488682070.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607382152488682070.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607382152488682070.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607382152488682070.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607382152488682070.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-607382152488682070.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607382152488682070.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607382152488682070.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607382152488682070.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607382152488682070.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-607382152488682070.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607382152488682070.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607382152488682070.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607382152488682070.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607382152488682070.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607382152488682070.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607382152488682070.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607382152488682070.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607382152488682070.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607382152488682070.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-607382152488682070.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607382152488682070.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-607382152488682070.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607382152488682070.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607382152488682070.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607382152488682070.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607382152488682070.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-607382152488682070.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607382152488682070.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-607382152488682070.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607382152488682070.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607382152488682070 .gp-relative{position:relative}.gps-607382152488682070 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607382152488682070 .gp-mb-0{margin-bottom:0}.gps-607382152488682070 .gp-inline-block{display:inline-block}.gps-607382152488682070 .gp-flex{display:flex}.gps-607382152488682070 .gp-grid{display:grid}.gps-607382152488682070 .gp-contents{display:contents}.gps-607382152488682070 .\!gp-hidden{display:none!important}.gps-607382152488682070 .gp-hidden{display:none}.gps-607382152488682070 .gp-h-auto{height:auto}.gps-607382152488682070 .gp-h-full{height:100%}.gps-607382152488682070 .gp-w-full{width:100%}.gps-607382152488682070 .gp-max-w-full{max-width:100%}.gps-607382152488682070 .gp-flex-none{flex:none}.gps-607382152488682070 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607382152488682070 .gp-flex-col{flex-direction:column}.gps-607382152488682070 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607382152488682070 .gp-duration-200{transition-duration:.2s}.gps-607382152488682070 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607382152488682070 .tablet\:\!gp-hidden{display:none!important}.gps-607382152488682070 .tablet\:gp-hidden{display:none}.gps-607382152488682070 .tablet\:gp-h-auto{height:auto}.gps-607382152488682070 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-607382152488682070 .mobile\:\!gp-hidden{display:none!important}.gps-607382152488682070 .mobile\:gp-hidden{display:none}.gps-607382152488682070 .mobile\:gp-h-auto{height:auto}.gps-607382152488682070 .mobile\:gp-flex-none{flex:none}}.gps-607382152488682070 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4QK1O4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyO4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:relative;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gt4M00oNXs"}' data-id="gt4M00oNXs" id="gt4M00oNXs" data-same-height-subgrid-container class="gt4M00oNXs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:30px;--pb:30px;--pt-tablet:30px;--pb-tablet:30px;--pt-mobile:20px;--pb-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG_Vwlcdur gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"grg3QzWusv"}' data-id="grg3QzWusv" id="grg3QzWusv" data-same-height-subgrid-container class="grg3QzWusv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pl:10px;--pb:0px;--pr:10px;--mb-tablet:0px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--mb-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:relative;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:980px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gP__7xx0GG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gg-jMPs9xx"}' data-id="gg-jMPs9xx" id="gg-jMPs9xx" data-same-height-subgrid-container class="gg-jMPs9xx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:26px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:4px 4px 4px 4px;--bc:#FFFFFF;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--shadow:0px 0px 4px 3px rgba(142, 137, 141, 0.5);--op:100%;--pos:absolute;--top:-308px;--top-mobile:-190px;--right:0px;--left:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gC3FcEzm34 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gE8Gr76nNy"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232731894 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gE8Gr76nNy"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggE8Gr76nNy_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTYyLTUyNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgZmlsbD0idXJsKCNnLTk2Mi01MjQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NjIiIHRvPSI5NjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggE8Gr76nNy_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTYyLTUyNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgZmlsbD0idXJsKCNnLTk2Mi01MjQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NjIiIHRvPSI5NjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggE8Gr76nNy_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTYyLTUyNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTYyIiBoZWlnaHQ9IjUyNCIgZmlsbD0idXJsKCNnLTk2Mi01MjQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NjIiIHRvPSI5NjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggE8Gr76nNy_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guIkD8Jj0g"
        class="guIkD8Jj0g"
        style="--ta:center;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:500;--size:22px;--size-tablet:20px;--size-mobile:14px;--lh:136%;--lh-tablet:140%;--lh-mobile:144%;--c:#000000;--tt:none;word-break:break-word;--bgc:#F2E8EF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:20px;--pr:20px;--pt:17px;--pb:17px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:13px;--pb-mobile:13px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguIkD8Jj0g_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      <style id="custom-css-gg-jMPs9xx">
        .gg-jMPs9xx {
    overflow: hidden;
}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcx0d-287Q"
        class="gcx0d-287Q"
        style="--ta:left;--mt:350px;--pt:0px;--mt-tablet:360px;--pt-tablet:0px;--mt-mobile:130px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:155%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcx0d-287Q_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grIT8j6Gse"
        class="grIT8j6Gse"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrIT8j6Gse_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gM83Xc3UVl"
        class="gM83Xc3UVl"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggM83Xc3UVl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkfO2WC4nu"
        class="gkfO2WC4nu"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkfO2WC4nu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gkV3eRMMM2"}' data-id="gkV3eRMMM2" id="gkV3eRMMM2" data-same-height-subgrid-container class="gkV3eRMMM2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:75px;--pt:28px;--mb-tablet:75px;--pt-tablet:28px;--mb-mobile:95px;--pt-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:14px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gGm275zXA4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gUpm_nIJW8"
      style="--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232731901 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gUpm_nIJW8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggUpm_nIJW8_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkwLTM4NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0idXJsKCNnLTM5MC0zODUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTAiIHRvPSIzOTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggUpm_nIJW8_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkwLTM4NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0idXJsKCNnLTM5MC0zODUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTAiIHRvPSIzOTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggUpm_nIJW8_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkwLTM4NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0idXJsKCNnLTM5MC0zODUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTAiIHRvPSIzOTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggUpm_nIJW8_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g8SivMwpka gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAlgyIwsuu"
        class="gAlgyIwsuu"
        style="--ta:left;--mt:0px;--pt:0px;--mt-tablet:0px;--pt-tablet:0px;--mt-mobile:0px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAlgyIwsuu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gwA8mnB55u"
      style="--mt-mobile:28px;--ml-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232731903 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwA8mnB55u"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggwA8mnB55u_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkwLTM4NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0idXJsKCNnLTM5MC0zODUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTAiIHRvPSIzOTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggwA8mnB55u_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkwLTM4NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0idXJsKCNnLTM5MC0zODUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTAiIHRvPSIzOTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggwA8mnB55u_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkwLTM4NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkwIiBoZWlnaHQ9IjM4NSIgZmlsbD0idXJsKCNnLTM5MC0zODUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTAiIHRvPSIzOTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggwA8mnB55u_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLJR58Kk8u"
        class="gLJR58Kk8u"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:20px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLJR58Kk8u_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-607382152488682070 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=607381796862034487&sectionId=607382152488682070)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggE8Gr76nNy_srcSet_desktop_src","label":"ggE8Gr76nNy_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/s1bximg.png"},{"type":"html","id":"gguIkD8Jj0g_text","label":"gguIkD8Jj0g_text","default":"<p>Women all over America are reporting that this 10-second trick is all they need to have smoother, firmer skin on their face, as well as a tighter, more youthful-looking neck.</p>"},{"type":"html","id":"ggcx0d-287Q_text","label":"ggcx0d-287Q_text","default":"<p>When the lip lines and mouth wrinkles won’t disappear, your jowls are softening and your neckline continues to droop and sag no matter what you try… There’s only one thing to blame: <strong>PROGERIN</strong>.</p>"},{"type":"html","id":"ggrIT8j6Gse_text","label":"ggrIT8j6Gse_text","default":"<p>A nasty “aging protein” that destroys the healthy collagen and elastin fibers you need to have smooth, firm, lifted skin. While also preventing healthy new skin cells from bubbling to the surface so that you look younger and healthier.</p>"},{"type":"html","id":"ggM83Xc3UVl_text","label":"ggM83Xc3UVl_text","default":"<p>To put it simply…</p>"},{"type":"html","id":"ggkfO2WC4nu_text","label":"ggkfO2WC4nu_text","default":"<p>Progerin keeps you stuck with skin you don’t like. It makes you look older, and will leave you wondering whether your skincare routine is really doing anything.</p>"},{"type":"html","id":"ggUpm_nIJW8_srcSet_desktop_src","label":"ggUpm_nIJW8_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/s1img_6cc5cf3c-f383-4e86-bd1f-081ab2e53ebf.png"},{"type":"html","id":"ggAlgyIwsuu_text","label":"ggAlgyIwsuu_text","default":"<p>Yet while Progerin is bad news, there is something simple you can do to get it under control. Something that will stop Progerin from thinning and fraying your collagen and elastin so you can once again have beautifully firm, wrinkle-free skin.</p>"},{"type":"html","id":"ggwA8mnB55u_srcSet_desktop_src","label":"ggwA8mnB55u_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/s1img_6cc5cf3c-f383-4e86-bd1f-081ab2e53ebf.png"},{"type":"html","id":"ggLJR58Kk8u_text","label":"ggLJR58Kk8u_text","default":"<p>A 10-second tweak to your morning routine that probably has more wrinkle-erasing and skin-tightening power than collagen and retinol combined.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}