
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609155572251493298.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609155572251493298.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609155572251493298.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609155572251493298.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609155572251493298.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609155572251493298.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609155572251493298.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609155572251493298.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609155572251493298.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609155572251493298.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609155572251493298.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609155572251493298.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609155572251493298.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609155572251493298.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609155572251493298.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609155572251493298.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609155572251493298.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609155572251493298.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609155572251493298.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609155572251493298.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609155572251493298.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609155572251493298.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609155572251493298.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609155572251493298.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609155572251493298.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609155572251493298.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609155572251493298.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609155572251493298.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609155572251493298.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609155572251493298.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609155572251493298.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609155572251493298.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609155572251493298.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609155572251493298.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609155572251493298.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609155572251493298.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609155572251493298.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609155572251493298.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609155572251493298.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609155572251493298.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609155572251493298.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609155572251493298.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609155572251493298.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609155572251493298.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609155572251493298.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609155572251493298.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609155572251493298.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609155572251493298.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609155572251493298.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609155572251493298.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609155572251493298.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609155572251493298.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609155572251493298.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609155572251493298.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609155572251493298.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609155572251493298.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609155572251493298.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-609155572251493298.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609155572251493298.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609155572251493298.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609155572251493298.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609155572251493298.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609155572251493298.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609155572251493298.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609155572251493298.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609155572251493298.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609155572251493298.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609155572251493298.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609155572251493298.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609155572251493298.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609155572251493298.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609155572251493298.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609155572251493298.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609155572251493298.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609155572251493298.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609155572251493298.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609155572251493298.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609155572251493298.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609155572251493298.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609155572251493298.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609155572251493298.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609155572251493298.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609155572251493298.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609155572251493298.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609155572251493298.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609155572251493298 .gp-relative{position:relative}.gps-609155572251493298 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609155572251493298 .gp-mb-0{margin-bottom:0}.gps-609155572251493298 .gp-inline-block{display:inline-block}.gps-609155572251493298 .gp-flex{display:flex}.gps-609155572251493298 .gp-grid{display:grid}.gps-609155572251493298 .gp-contents{display:contents}.gps-609155572251493298 .\!gp-hidden{display:none!important}.gps-609155572251493298 .gp-hidden{display:none}.gps-609155572251493298 .gp-h-auto{height:auto}.gps-609155572251493298 .gp-h-full{height:100%}.gps-609155572251493298 .gp-w-full{width:100%}.gps-609155572251493298 .gp-max-w-full{max-width:100%}.gps-609155572251493298 .gp-flex-none{flex:none}.gps-609155572251493298 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609155572251493298 .gp-flex-col{flex-direction:column}.gps-609155572251493298 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609155572251493298 .gp-duration-200{transition-duration:.2s}.gps-609155572251493298 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609155572251493298 .tablet\:\!gp-hidden{display:none!important}.gps-609155572251493298 .tablet\:gp-hidden{display:none}.gps-609155572251493298 .tablet\:gp-h-auto{height:auto}.gps-609155572251493298 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609155572251493298 .mobile\:\!gp-hidden{display:none!important}.gps-609155572251493298 .mobile\:gp-hidden{display:none}.gps-609155572251493298 .mobile\:gp-h-auto{height:auto}.gps-609155572251493298 .mobile\:gp-flex-none{flex:none}}.gps-609155572251493298 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedA&skey=87759fb096548f6d&v=v24) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gX7l3RTuyt"}' data-id="gX7l3RTuyt" id="gX7l3RTuyt" data-same-height-subgrid-container class="gX7l3RTuyt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRJTQHxzO- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQAhH2q-3g"}' data-id="gQAhH2q-3g" id="gQAhH2q-3g" data-same-height-subgrid-container class="gQAhH2q-3g gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:50px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--mt-tablet:50px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mt-mobile:40px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJ5KfpUuWk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXga_qt0dM"
        class="gXga_qt0dM"
        style="--ta:left;--ta-tablet:center;--mt:0px;--ml:0px;--mb:25px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:25px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:25px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-tablet:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:70%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Migra, 'Migra'), var(--g-font-heading, heading);--weight:800;--size:45px;--size-tablet:46px;--size-mobile:41px;--lh:100%;--lh-tablet:130%;--lh-mobile:120%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXga_qt0dM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gBRqaVzbn8"}' data-id="gBRqaVzbn8" id="gBRqaVzbn8" data-same-height-subgrid-container class="gBRqaVzbn8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:820px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1xKzeg8RL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gUT1NhQ6hi"}' data-id="gUT1NhQ6hi" id="gUT1NhQ6hi" data-same-height-subgrid-container class="gUT1NhQ6hi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPgZOChVUq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gtdYaKle9y"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232715184 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gtdYaKle9y"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggtdYaKle9y_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTYxLTE2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0idXJsKCNnLTE2MS0xNjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjEiIHRvPSIxNjEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggtdYaKle9y_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTYxLTE2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0idXJsKCNnLTE2MS0xNjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjEiIHRvPSIxNjEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggtdYaKle9y_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTYxLTE2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0idXJsKCNnLTE2MS0xNjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjEiIHRvPSIxNjEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggtdYaKle9y_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:55px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:0px;--btrr:0px;--bbrr:0px;--btlr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gNX4gFoSGP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F0F2F5","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gK82aOpeq-"}' data-id="gK82aOpeq-" id="gK82aOpeq-" data-same-height-subgrid-container class="gK82aOpeq- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--shadow:2.8284271247461903px 2.82842712474619px 4px 0px rgba(18, 18, 18, 0.2);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F0F2F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRVXxvcQo9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gh0uOWp3Jr"
        class="gh0uOWp3Jr"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggh0uOWp3Jr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCKVgPbJu0"
        class="gCKVgPbJu0"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCKVgPbJu0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gKs78mfKSa gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gQ5UHm7ZIP"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232715188 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQ5UHm7ZIP"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggQ5UHm7ZIP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI3MCIgaGVpZ2h0PSIyMjAzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjcwLTIyMDMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyNzAiIGhlaWdodD0iMjIwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI3MCIgaGVpZ2h0PSIyMjAzIiBmaWxsPSJ1cmwoI2ctMTI3MC0yMjAzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTI3MCIgdG89IjEyNzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggQ5UHm7ZIP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI3MCIgaGVpZ2h0PSIyMjAzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjcwLTIyMDMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyNzAiIGhlaWdodD0iMjIwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI3MCIgaGVpZ2h0PSIyMjAzIiBmaWxsPSJ1cmwoI2ctMTI3MC0yMjAzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTI3MCIgdG89IjEyNzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggQ5UHm7ZIP_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI3MCIgaGVpZ2h0PSIyMjAzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjcwLTIyMDMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyNzAiIGhlaWdodD0iMjIwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI3MCIgaGVpZ2h0PSIyMjAzIiBmaWxsPSJ1cmwoI2ctMTI3MC0yMjAzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTI3MCIgdG89IjEyNzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggQ5UHm7ZIP_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:0px;--btrr:0px;--bbrr:0px;--btlr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-609155572251493298 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609144044693488562&sectionId=609155572251493298)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggXga_qt0dM_text","label":"ggXga_qt0dM_text","default":"Severe Acne Fixed in Weeks"},{"type":"html","id":"ggtdYaKle9y_srcSet_desktop_src","label":"ggtdYaKle9y_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/download_7.png"},{"type":"html","id":"ggh0uOWp3Jr_text","label":"ggh0uOWp3Jr_text","default":"<p>Julia</p>"},{"type":"html","id":"ggCKVgPbJu0_text","label":"ggCKVgPbJu0_text","default":"<p>I hated my skin which made me hate myself. I won’t lie, acne completely destroyed me and any chance of self confidence I had. I tried everything under the sun, and then some… Norse Organics has changed my life. My skin is nowhere near perfect, but the differences and extremely visibly and life changing. I would recommend their products to anyone and everyone. Truly amazing and forever grateful.</p>"},{"type":"html","id":"ggQ5UHm7ZIP_srcSet_desktop_src","label":"ggQ5UHm7ZIP_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/download_6.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}