
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607423893581333402.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607423893581333402.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607423893581333402.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607423893581333402.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607423893581333402.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607423893581333402.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607423893581333402.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607423893581333402.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607423893581333402.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607423893581333402.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-607423893581333402.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607423893581333402.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607423893581333402.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607423893581333402.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607423893581333402.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607423893581333402.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607423893581333402.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607423893581333402.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607423893581333402.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607423893581333402.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607423893581333402.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607423893581333402.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607423893581333402.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607423893581333402.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607423893581333402.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607423893581333402.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607423893581333402.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607423893581333402.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607423893581333402.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607423893581333402.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607423893581333402.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607423893581333402.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607423893581333402.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607423893581333402.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-607423893581333402.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-607423893581333402.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607423893581333402.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-607423893581333402.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607423893581333402.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607423893581333402.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607423893581333402.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607423893581333402.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607423893581333402.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607423893581333402.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607423893581333402.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607423893581333402.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607423893581333402.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607423893581333402.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607423893581333402.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607423893581333402.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607423893581333402.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607423893581333402.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607423893581333402.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607423893581333402.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-607423893581333402.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-607423893581333402.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607423893581333402.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607423893581333402.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607423893581333402.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607423893581333402.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607423893581333402.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607423893581333402.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607423893581333402.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607423893581333402.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-607423893581333402.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607423893581333402.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607423893581333402.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607423893581333402.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-607423893581333402.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607423893581333402.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607423893581333402.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-607423893581333402.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607423893581333402.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607423893581333402.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607423893581333402.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607423893581333402.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607423893581333402.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607423893581333402.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607423893581333402.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-607423893581333402.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-607423893581333402.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607423893581333402.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607423893581333402.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607423893581333402 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-607423893581333402 .gp-relative{position:relative}.gps-607423893581333402 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607423893581333402 .gp-mb-0{margin-bottom:0}.gps-607423893581333402 .gp-block{display:block}.gps-607423893581333402 .gp-flex{display:flex}.gps-607423893581333402 .gp-inline-flex{display:inline-flex}.gps-607423893581333402 .gp-grid{display:grid}.gps-607423893581333402 .\!gp-hidden{display:none!important}.gps-607423893581333402 .gp-hidden{display:none}.gps-607423893581333402 .gp-max-w-full{max-width:100%}.gps-607423893581333402 .gp-flex-none{flex:none}.gps-607423893581333402 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607423893581333402 .gp-flex-col{flex-direction:column}.gps-607423893581333402 .gp-items-center{align-items:center}.gps-607423893581333402 .gp-justify-center{justify-content:center}.gps-607423893581333402 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607423893581333402 .gp-duration-200{transition-duration:.2s}.gps-607423893581333402 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607423893581333402 .tablet\:gp-block{display:block}.gps-607423893581333402 .tablet\:\!gp-hidden{display:none!important}.gps-607423893581333402 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-607423893581333402 .mobile\:gp-block{display:block}.gps-607423893581333402 .mobile\:\!gp-hidden{display:none!important}.gps-607423893581333402 .mobile\:gp-hidden{display:none}}.gps-607423893581333402 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyO4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4taVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4kaVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4saVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4jaVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4iaVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x5caVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071, U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x5OaVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89, U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4vaVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVQUwaEQbjB_mQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQUwaEQbjA&skey=62c1cbfccc78b4b2&v=v44) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F2F9FF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gLevM2HeAQ"}' data-id="gLevM2HeAQ" id="gLevM2HeAQ" data-same-height-subgrid-container class="gLevM2HeAQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:40px;--pb:40px;--pt-tablet:40px;--pb-tablet:40px;--pt-mobile:40px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F2F9FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpbSfqk9uL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gihkBE83iY"}' data-id="gihkBE83iY" id="gihkBE83iY" data-same-height-subgrid-container class="gihkBE83iY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:0px;--pl:10px;--pb:0px;--pr:10px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:980px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjbg69MxqG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjme2cS9pL"
        class="gjme2cS9pL"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjme2cS9pL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqT2ofjRHx"
        class="gqT2ofjRHx"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqT2ofjRHx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLzRU5G2r_"
        class="gLzRU5G2r_"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLzRU5G2r__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfSE_gbYtT"
        class="gfSE_gbYtT"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfSE_gbYtT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--pt:28px;--pl:0px;--pb:28px;--pt-tablet:28px;--pl-tablet:0px;--pb-tablet:28px;--pt-mobile:28px;--pl-mobile:0px;--pb-mobile:28px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="g7N5BI5O06 ">
      
    <div data-id="g7N5BI5O06" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#D1D5D8" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#D1D5D8;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#D1D5D8;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#D1D5D8;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gPcAPA-Q9C"}' data-id="gPcAPA-Q9C" id="gPcAPA-Q9C" data-same-height-subgrid-container class="gPcAPA-Q9C gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos-mobile:relative;--cg:16px;--cg-tablet:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtYgk3yaTP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYDcVPTNT6"
        class="gYDcVPTNT6"
        style="--ta:left;--mt:0px;--pt:0px;--pr:0px;--mt-tablet:0px;--pt-tablet:0px;--pr-tablet:0px;--pt-mobile:28px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--size:164px;--size-tablet:160px;--size-mobile:140px;--lh:100%;--lh-tablet:180%;--lh-mobile:155%;--c:#643352;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYDcVPTNT6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gnyEYhPHHt gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZfgTalwKL"
        class="gZfgTalwKL"
        style="--ta:left;--mt:0px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:0px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZfgTalwKL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGI8M6OkHQ"
        class="gGI8M6OkHQ"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGI8M6OkHQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--pt:28px;--pl:0px;--pb:28px;--pt-tablet:28px;--pl-tablet:0px;--pb-tablet:28px;--pt-mobile:28px;--pl-mobile:0px;--pb-mobile:28px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gfnYuVIQbZ ">
      
    <div data-id="gfnYuVIQbZ" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#D1D5D8" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#D1D5D8;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#D1D5D8;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#D1D5D8;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{},"uid":"ghyfQFGxkc"}' data-id="ghyfQFGxkc" id="ghyfQFGxkc" data-same-height-subgrid-container class="ghyfQFGxkc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos-mobile:relative;--cg:16px;--cg-tablet:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gkj4XmwP5s gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gckfr3MT-n"
        class="gckfr3MT-n"
        style="--ta:left;--mt:0px;--pt:0px;--pr:0px;--mt-tablet:0px;--pt-tablet:0px;--pr-tablet:0px;--pt-mobile:28px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--size:164px;--size-tablet:164px;--size-mobile:104px;--lh:100%;--lh-tablet:180%;--lh-mobile:155%;--c:#643352;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggckfr3MT-n_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gAmI-ezwpw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="get3nUAHPo"
        class="get3nUAHPo"
        style="--ta:left;--mt:0px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:0px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gget3nUAHPo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBTNm2HZpe"
        class="gBTNm2HZpe"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBTNm2HZpe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9X9K8DeBY"
        class="g9X9K8DeBY"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9X9K8DeBY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 17",
    "tag": "section",
    "class": "gps-607423893581333402 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=607381796862034487&sectionId=607423893581333402)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggjme2cS9pL_text","label":"ggjme2cS9pL_text","default":"<p>But remember, this offer is only available to report readers through this page – and it's only available until supplies run out.</p>"},{"type":"html","id":"ggqT2ofjRHx_text","label":"ggqT2ofjRHx_text","default":"<p>And supplies WILL sell out.</p>"},{"type":"html","id":"ggLzRU5G2r__text","label":"ggLzRU5G2r__text","default":"<p>When they DO sell out, this offer will be taken down immediately and <strong>Vitro K-Beauty Calcium Balm</strong> will return to its regular price of <strong>$189.00.</strong></p>"},{"type":"html","id":"ggfSE_gbYtT_text","label":"ggfSE_gbYtT_text","default":"<p><strong>This is an incredible opportunity, and if you take it, I only ask 2 things:</strong></p>"},{"type":"html","id":"ggYDcVPTNT6_text","label":"ggYDcVPTNT6_text","default":"<p>1</p>"},{"type":"html","id":"ggZfgTalwKL_text","label":"ggZfgTalwKL_text","default":"<p>First, when you begin using Vitro K-Beauty Calcium Balm and you experience what I did – the dramatic improvement in appearance, the firmer skin, the surge of confidence – write in to tell me about the wonderful changes you see.</p>"},{"type":"html","id":"ggGI8M6OkHQ_text","label":"ggGI8M6OkHQ_text","default":"<p>My email address is support@trymiamimd.com. Seeing and hearing how science changes people's lives is probably the greatest joy I experience as a doctor.</p>"},{"type":"html","id":"ggckfr3MT-n_text","label":"ggckfr3MT-n_text","default":"<p>2</p>"},{"type":"html","id":"gget3nUAHPo_text","label":"gget3nUAHPo_text","default":"<p>And second – and this is just as important – please tell your friends and loved ones about the dangers of Progerin buildup in our skin.</p>"},{"type":"html","id":"ggBTNm2HZpe_text","label":"ggBTNm2HZpe_text","default":"<p>As you know, it's one of the greatest threats to maintaining a youthful appearance, and most people at risk have no idea that this aging protein is so directly linked to sagging skin, wrinkles, and many other visible signs of aging.</p>"},{"type":"html","id":"gg9X9K8DeBY_text","label":"gg9X9K8DeBY_text","default":"<p>I've tried to do my part by creating this online report. Now, we need to spread the word.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}