
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612315366302941795.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-612315366302941795.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-612315366302941795.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-612315366302941795.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612315366302941795.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-612315366302941795.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612315366302941795.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612315366302941795.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612315366302941795.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-612315366302941795.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612315366302941795.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612315366302941795.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612315366302941795.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612315366302941795.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-612315366302941795.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-612315366302941795.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612315366302941795.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-612315366302941795.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-612315366302941795.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612315366302941795.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612315366302941795.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-612315366302941795.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-612315366302941795.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612315366302941795.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-612315366302941795.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-612315366302941795.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-612315366302941795.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-612315366302941795.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612315366302941795.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612315366302941795.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-612315366302941795.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-612315366302941795.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612315366302941795.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-612315366302941795.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-612315366302941795.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612315366302941795.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-612315366302941795.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-612315366302941795.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612315366302941795.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612315366302941795.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612315366302941795.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-612315366302941795.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612315366302941795.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612315366302941795.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612315366302941795.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612315366302941795.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612315366302941795.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612315366302941795.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612315366302941795.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-612315366302941795.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612315366302941795.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612315366302941795.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612315366302941795.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612315366302941795.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612315366302941795.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612315366302941795.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612315366302941795.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-612315366302941795.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-612315366302941795.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612315366302941795.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612315366302941795.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612315366302941795.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612315366302941795.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612315366302941795.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612315366302941795.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612315366302941795.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612315366302941795.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-612315366302941795.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612315366302941795.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612315366302941795.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612315366302941795.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612315366302941795.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-612315366302941795.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612315366302941795.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612315366302941795.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612315366302941795.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-612315366302941795.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-612315366302941795.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-612315366302941795.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612315366302941795.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612315366302941795.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612315366302941795.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-612315366302941795.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-612315366302941795.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612315366302941795.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-612315366302941795.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612315366302941795.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612315366302941795.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612315366302941795.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612315366302941795.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-612315366302941795.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-612315366302941795.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-612315366302941795.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-612315366302941795.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612315366302941795.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612315366302941795.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-612315366302941795.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-612315366302941795.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-612315366302941795.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612315366302941795.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612315366302941795.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612315366302941795.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-612315366302941795.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612315366302941795.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612315366302941795.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612315366302941795.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612315366302941795.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-612315366302941795.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-612315366302941795.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612315366302941795.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612315366302941795.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612315366302941795.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612315366302941795.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-612315366302941795.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-612315366302941795.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612315366302941795.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-612315366302941795.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612315366302941795.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612315366302941795 .gp-relative{position:relative}.gps-612315366302941795 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612315366302941795 .gp-mb-0{margin-bottom:0}.gps-612315366302941795 .gp-inline-block{display:inline-block}.gps-612315366302941795 .gp-flex{display:flex}.gps-612315366302941795 .gp-inline-flex{display:inline-flex}.gps-612315366302941795 .gp-grid{display:grid}.gps-612315366302941795 .gp-contents{display:contents}.gps-612315366302941795 .\!gp-hidden{display:none!important}.gps-612315366302941795 .gp-hidden{display:none}.gps-612315366302941795 .gp-h-auto{height:auto}.gps-612315366302941795 .gp-h-full{height:100%}.gps-612315366302941795 .gp-w-full{width:100%}.gps-612315366302941795 .gp-w-max{width:-moz-max-content;width:max-content}.gps-612315366302941795 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-612315366302941795 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-612315366302941795 .gp-max-w-full{max-width:100%}.gps-612315366302941795 .gp-flex-1{flex:1 1 0%}.gps-612315366302941795 .gp-flex-none{flex:none}.gps-612315366302941795 .gp-shrink-0{flex-shrink:0}.gps-612315366302941795 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612315366302941795 .gp-flex-col{flex-direction:column}.gps-612315366302941795 .gp-flex-wrap{flex-wrap:wrap}.gps-612315366302941795 .gp-items-center{align-items:center}.gps-612315366302941795 .gp-justify-center{justify-content:center}.gps-612315366302941795 .gp-overflow-hidden{overflow:hidden}.gps-612315366302941795 .gp-break-words{overflow-wrap:break-word}.gps-612315366302941795 .gp-border{border-width:1px}.gps-612315366302941795 .gp-border-transparent{border-color:transparent}.gps-612315366302941795 .gp-text-left{text-align:left}.gps-612315366302941795 .gp-text-center{text-align:center}.gps-612315366302941795 .gp-leading-\[0\]{line-height:0}.gps-612315366302941795 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-612315366302941795 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-612315366302941795 .gp-no-underline{text-decoration-line:none}.gps-612315366302941795 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612315366302941795 .gp-duration-200{transition-duration:.2s}.gps-612315366302941795 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612315366302941795 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-612315366302941795 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-612315366302941795 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-612315366302941795 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-612315366302941795 .tablet\:\!gp-hidden{display:none!important}.gps-612315366302941795 .tablet\:gp-hidden{display:none}.gps-612315366302941795 .tablet\:gp-h-auto{height:auto}.gps-612315366302941795 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-612315366302941795 .mobile\:\!gp-hidden{display:none!important}.gps-612315366302941795 .mobile\:gp-hidden{display:none}.gps-612315366302941795 .mobile\:gp-h-auto{height:auto}.gps-612315366302941795 .mobile\:gp-flex-none{flex:none}}.gps-612315366302941795 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-612315366302941795 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-612315366302941795 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-612315366302941795 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-612315366302941795 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-612315366302941795 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-612315366302941795 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-612315366302941795 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-612315366302941795 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-612315366302941795 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-612315366302941795 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-612315366302941795 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFDE6","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"glFAgxNDwE"}' data-id="glFAgxNDwE" id="glFAgxNDwE" data-same-height-subgrid-container class="glFAgxNDwE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFDE6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcRDZQMLP2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3EFBF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gEWYcGTNlT"}' data-id="gEWYcGTNlT" id="gEWYcGTNlT" data-same-height-subgrid-container class="gEWYcGTNlT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pl:15px;--pb:0px;--pr:15px;--mb-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F3EFBF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g88JU4Lm4y gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gVRyvgaFVS"}' data-id="gVRyvgaFVS" id="gVRyvgaFVS" data-same-height-subgrid-container class="gVRyvgaFVS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:10px;--pl:0px;--pb:10px;--pr:0px;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:24px;--cg-mobile:4px;--rg:0px;--rg-mobile:4px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:100%;--h-mobile:100%;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gkYpMRjSsX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYchVIXYXr"
        class="gYchVIXYXr"
        style="--ta:right;--ta-mobile:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right;--jc-mobile:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-heroline, 'heroline'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#FF1500;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYchVIXYXr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gVL_1XoBTz gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt:0px;--pl:20px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gNFLeXPc_W ">
      
    <gp-countdown-timer
        data-id="gNFLeXPc_W"
        gp-href
        class="gp-flex"
        style="--jc:left;--jc-mobile:center"
        gp-data='{"standardType":"specific-time-zone","behaviour":"standard","dateStandard":"Wed Apr 01 2026 15:37:10 GMT+0600 (Bangladesh Standard Time)","timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1774442230922,"startTime":1774431430922},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":true,"dayLabel":"Day","enableHour":true,"hourLabel":"Hour","enableMinute":false,"minuteLabel":"Minute","enableSecond":false,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"gNFLeXPc_W","builderData":{"uid":"gNFLeXPc_W","tag":"Countdown","label":"Countdown Timer","settings":{"standardType":"specific-time-zone","behaviour":"standard","dateStandard":"Wed Apr 01 2026 15:37:10 GMT+0600 (Bangladesh Standard Time)","timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1774442230922,"startTime":1774431430922},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":true,"dayLabel":"Day","enableHour":true,"hourLabel":"Hour","enableMinute":false,"minuteLabel":"Minute","enableSecond":false,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"#F5EEE8","bold":false},"custom":{"fontSize":{"desktop":"24px","tablet":"18px","mobile":"16px"},"fontWeight":"400","lineHeight":{"desktop":"100%","tablet":"130%","mobile":"130%"},"fontFamily":{"value":"heroline","type":"custom"},"letterSpacing":{"desktop":"20px"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false},"latestUpdate":"letterSpacing"},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"#121212","transform":"uppercase"},"custom":{"fontSize":{"desktop":"14px","tablet":"14px","mobile":"12px"},"fontWeight":"700","lineHeight":{"desktop":"180%","tablet":"180%","mobile":"180%"},"fontFamily":{"value":"Avenir","type":"custom"},"letterSpacing":{},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom","enable":false},"hasShadowText":false},"latestUpdate":"color"},"colorLabel":"text-2","textAlign":{"desktop":"left","mobile":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"transparent","verticalGap":"0px","horizontalGap":"10px","itemPadding":{"desktop":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"edited":["desktop"],"desktop":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"20px"},"link":false},"tablet":{"padding":{"bottom":"0px","left":"20px","right":"0px","top":"0px"}},"mobile":{"padding":{"bottom":"0px","left":"20px","right":"0px","top":"0px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"},"editorData":{"rootClassName":"{{rootClassName}}","css":".{{rootClassName}} {\n\n}\ndiv#section-countdown::after {\n    content: \":\";\n    left: 50%;\n    top: 30%;\n    transform: translate(-50%, -50%);\n    position: absolute;\n    font-size: 2rem;\n    font-weight:900\n}\n\n.gp-countdown-number.gp-text-g-text-2.gp-text-instant {\n    padding-left: 1rem;\n    padding-top: 1rem;\n    padding-bottom:.5rem;\n}\n\ngp-countdown-timer .gp-countdown-number.gp-text-g-text-2.gp-text-instant {\n    position: relative; /* pseudo-elements er jonno parent relative hote hobe */\n    z-index: 1; /* text er upor thakbe */\n}\n\n/* First background (transparent / opacity 0) */\ngp-countdown-timer .gp-countdown-number.gp-text-g-text-2.gp-text-instant::before {\n    content: &#039;&#039;;\n    position: absolute;\n    top: 0;\n    right: 10px;\n    width: 40%;\n    height: 100%;\n    background-color: #483D39; /* fully transparent */\n    border-radius: 8px;\n    z-index: -2; /* behind the ::after */\n}\n\n/* Second background (visible / opacity 1) */\ngp-countdown-timer .gp-countdown-number.gp-text-g-text-2.gp-text-instant::after {\n    content: &#039;&#039;;\n    position: absolute;\n    top: 0;\n    left: 1px;\n    width: 40%;\n    height: 100%;\n    background-color: #483D39; /* fully visible */\n    border-radius: 8px;\n    z-index: -1; /* behind text but above ::before */\n}"}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:10px;--jc:left;--jc-mobile:center">
        
          
          
    <div style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:transparent" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNFLeXPc_W-text" id="day"
        class="gNFLeXPc_W"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-heroline, 'heroline'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:18px;--size-mobile:16px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--ls:20px;--c:#F5EEE8;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNFLeXPc_W-text"
        class="gNFLeXPc_W"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:700;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNFLeXPc_W_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:transparent" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNFLeXPc_W-text" id="hour"
        class="gNFLeXPc_W"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-heroline, 'heroline'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:18px;--size-mobile:16px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--ls:20px;--c:#F5EEE8;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNFLeXPc_W-text"
        class="gNFLeXPc_W"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:700;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNFLeXPc_W_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
          
      </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
      <style id="custom-css-gNFLeXPc_W">
        .gNFLeXPc_W {

}
div#section-countdown::after {
    content: ":";
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 2rem;
    font-weight:900
}

.gp-countdown-number.gp-text-g-text-2.gp-text-instant {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom:.5rem;
}

gp-countdown-timer .gp-countdown-number.gp-text-g-text-2.gp-text-instant {
    position: relative; /* pseudo-elements er jonno parent relative hote hobe */
    z-index: 1; /* text er upor thakbe */
}

/* First background (transparent / opacity 0) */
gp-countdown-timer .gp-countdown-number.gp-text-g-text-2.gp-text-instant::before {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    width: 40%;
    height: 100%;
    background-color: #483D39; /* fully transparent */
    border-radius: 8px;
    z-index: -2; /* behind the ::after */
}

/* Second background (visible / opacity 1) */
gp-countdown-timer .gp-countdown-number.gp-text-g-text-2.gp-text-instant::after {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    width: 40%;
    height: 100%;
    background-color: #483D39; /* fully visible */
    border-radius: 8px;
    z-index: -1; /* behind text but above ::before */
}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gpVHgAw2fd"}' data-id="gpVHgAw2fd" id="gpVHgAw2fd" data-same-height-subgrid-container class="gpVHgAw2fd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:40px;--mb:0px;--pl:15px;--pb:0px;--pr:15px;--mt-tablet:40px;--mb-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mt-mobile:40px;--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g67aZ6Rppg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g3NrRLcTLf"}' data-id="g3NrRLcTLf" id="g3NrRLcTLf" data-same-height-subgrid-container class="g3NrRLcTLf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:50px;--cg-tablet:40px;--rg:16px;--rg-tablet:40px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gXoRs1nQlI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQXvtTFTo1"}' data-id="gQXvtTFTo1" id="gQXvtTFTo1" data-same-height-subgrid-container class="gQXvtTFTo1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gv5FXn4MSU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gPJhW6TfPz"}' data-id="gPJhW6TfPz" id="gPJhW6TfPz" data-same-height-subgrid-container class="gPJhW6TfPz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:11px;--cg-mobile:4px;--rg:0px;--rg-mobile:4px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzuO66ZScG gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="guHxqKTWnt"  style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:0px;--jc:left;--ai:start">
            <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%" class="gRCU09WWGG ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g3SOmoRuBp" class="gp-leading-[0] g3SOmoRuBp" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g3SOmoRuBp" class="icon-wrapper gp-inline-flex gp-overflow-hidden g3SOmoRuBp " style="--shadow:none">
      
        <div >
          <span style="--c:#FFAD00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%" class="grbszLfsFV ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g2KqCG1Y0I" class="gp-leading-[0] g2KqCG1Y0I" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g2KqCG1Y0I" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2KqCG1Y0I " style="--shadow:none">
      
        <div >
          <span style="--c:#FFAD00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%" class="g2FpPo8VtS ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gKRd-SNEVs" class="gp-leading-[0] gKRd-SNEVs" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb-tablet:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gKRd-SNEVs" class="icon-wrapper gp-inline-flex gp-overflow-hidden gKRd-SNEVs " style="--shadow:none">
      
        <div >
          <span style="--c:#FFAD00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%" class="gzwBkqlAPH ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gVEpPjCH46" class="gp-leading-[0] gVEpPjCH46" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gVEpPjCH46" class="icon-wrapper gp-inline-flex gp-overflow-hidden gVEpPjCH46 " style="--shadow:none">
      
        <div >
          <span style="--c:#FFAD00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%" class="gnjIQOYGd2 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g4MKms4rqg" class="gp-leading-[0] g4MKms4rqg" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g4MKms4rqg" class="icon-wrapper gp-inline-flex gp-overflow-hidden g4MKms4rqg " style="--shadow:none">
      
        <div >
          <span style="--c:#FFAD00;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-half-filled" width="20" height="20" fill="currentColor" data-id="508414815326765440" viewBox="0 0 256 256"><path d="M239.18 97.26A16.38 16.38 0 0 0 224.92 86l-59-4.76-22.78-55.09a16.36 16.36 0 0 0-30.27 0L90.11 81.23 31.08 86a16.46 16.46 0 0 0-9.37 28.86l45 38.83L53 211.75a16.4 16.4 0 0 0 24.5 17.82l50.5-31.08 50.53 31.08A16.4 16.4 0 0 0 203 211.75l-13.76-58.07 45-38.83a16.43 16.43 0 0 0 4.94-17.59Zm-15.34 5.47-48.7 42a8 8 0 0 0-2.56 7.91l14.88 62.8a.37.37 0 0 1-.17.48c-.18.14-.23.11-.38 0l-54.72-33.65a8 8 0 0 0-4.19-1.17V32c.24 0 .27.08.35.26L153 91.86a8 8 0 0 0 6.75 4.92l63.91 5.16c.16 0 .25 0 .34.29s0 .4-.16.5Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gl9TtztN9G gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYtLhXg6Y7"
        class="gYtLhXg6Y7"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--size:16px;--size-tablet:15px;--size-mobile:12px;--lh:100%;--lh-tablet:100%;--lh-mobile:110%;--weight:bold;--c:#483D39;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYtLhXg6Y7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="ghI9QzXC8k"
      style="--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232752641 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ghI9QzXC8k"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gghI9QzXC8k_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gghI9QzXC8k_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gghI9QzXC8k_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gghI9QzXC8k_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:16px;--bblr:16px;--bbrr:16px;--btlr:16px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyXUX8L6GS"
        class="gyXUX8L6GS"
        style="--ta:left;--mt-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-heroline, 'heroline'), var(--g-font-heading, heading);--weight:400;--size:64px;--size-tablet:51px;--size-mobile:42px;--lh:110%;--lh-tablet:110%;--lh-mobile:110%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyXUX8L6GS_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJaCpkz2jX"
        class="gJaCpkz2jX"
        style="--ta:left;--mt:20px;--ml:0px;--mb:20px;--mt-tablet:20px;--ml-tablet:0px;--mb-tablet:20px;--mt-mobile:20px;--ml-mobile:0px;--mb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:180%;--lh-mobile:150%;--weight:bold;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJaCpkz2jX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gTphRO36aK"}' data-id="gTphRO36aK" id="gTphRO36aK" data-same-height-subgrid-container class="gTphRO36aK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--h-mobile:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbUJAehsDd gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gokT0evkhh"].gp-button-base::before, [data-id="gokT0evkhh-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gokT0evkhh"]:hover::before, [data-id="gokT0evkhh-interaction"]:hover::before {
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #3CB0BC;
  
    
  }</style>
        
        <button
          data-id="gokT0evkhh" dataId="gokT0evkhh" data-state="idle" aria-label="<p>Try risk-free</p><p>&nbsp;</p><p>&nbsp;</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:22px;--pb:16px;--pl-tablet:70px;--pr-tablet:70px;--pt-tablet:16px;--pb-tablet:10px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:16px;--pb-mobile:10px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--bgi:;--hvr-bgi:;--bg:#3CB0BC;--hvr-bg:transparent;--hvr-c:#3CB0BC;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-heroline, 'heroline'), var(--g-font-body, body);--weight:400;--size:32px;--size-tablet:32px;--size-mobile:32px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase"
          class="gokT0evkhh gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-heroline, 'heroline'), var(--g-font-body, body);--weight:400;--size:32px;--size-tablet:32px;--size-mobile:32px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggokT0evkhh_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  <div gp-el-wrapper  class="gf_Mzutwah ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gf_Mzutwah"
      data-id="gf_Mzutwah"
      style="--pt:5px;--pt-tablet:5px;--pt-mobile:5px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gf_Mzutwah"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"21","mobile":"20"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left;--jc-mobile:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gf_Mzutwah"
                      style="--cg:0px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#FF1500;--w:100%;--h:100%;--size-desktop:21px;--size-tablet:21px;--size-mobile:20px"
                        >
                          <svg height="20" width="20" data-name="shield-check-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817591475044712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,36H48A20,20,0,0,0,28,56v56c0,54.29,26.32,87.22,48.4,105.29,23.71,19.39,47.44,26,48.44,26.29a12.1,12.1,0,0,0,6.32,0c1-.28,24.73-6.9,48.44-26.29,22.08-18.07,48.4-51,48.4-105.29V56A20,20,0,0,0,208,36Zm-4,76c0,35.71-13.09,64.69-38.91,86.15A126.28,126.28,0,0,1,128,219.38a126.14,126.14,0,0,1-37.09-21.23C65.09,176.69,52,147.71,52,112V60H204ZM79.51,144.49a12,12,0,1,1,17-17L112,143l47.51-47.52a12,12,0,0,1,17,17l-56,56a12,12,0,0,1-17,0Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Avenir, 'Avenir'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:180%;--lh-mobile:100%;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggf_Mzutwah_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gmo_DoDxY3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gLthalztKP"
      style="--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232752656 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLthalztKP"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggLthalztKP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggLthalztKP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggLthalztKP_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggLthalztKP_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:16px;--bblr:16px;--bbrr:16px;--btlr:16px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-612315366302941795 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612315189068432171&sectionId=612315366302941795)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYchVIXYXr_text","label":"ggYchVIXYXr_text","default":"<p>Ends Cyber Monday at Midnight</p>"},{"type":"html","id":"ggNFLeXPc_W_dayLabel","label":"ggNFLeXPc_W_dayLabel","default":"Day"},{"type":"html","id":"ggNFLeXPc_W_hourLabel","label":"ggNFLeXPc_W_hourLabel","default":"Hour"},{"type":"html","id":"ggNFLeXPc_W_minuteLabel","label":"ggNFLeXPc_W_minuteLabel","default":"Minute"},{"type":"html","id":"ggNFLeXPc_W_secondLabel","label":"ggNFLeXPc_W_secondLabel","default":"Second"},{"type":"html","id":"ggNFLeXPc_W_weekLabel","label":"ggNFLeXPc_W_weekLabel","default":"Week"},{"type":"html","id":"ggYtLhXg6Y7_text","label":"ggYtLhXg6Y7_text","default":"<p>100k+ Customers Choose Healing Over Chemicals</p>"},{"type":"html","id":"gghI9QzXC8k_srcSet_desktop_src","label":"gghI9QzXC8k_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/download_8_f770a28d-bec4-4dcf-a987-d5219e7342cb.png"},{"type":"html","id":"ggyXUX8L6GS_text","label":"ggyXUX8L6GS_text","default":"Your soap might<br>be causing your<br><span style=\"color:#F15722;\">skin issues</span>"},{"type":"html","id":"ggJaCpkz2jX_text","label":"ggJaCpkz2jX_text","default":"<p>10% OFF Storewide + Free Soap on Every Order + Free Mystery Gift on $100+ Orders</p>"},{"type":"html","id":"ggokT0evkhh_label","label":"ggokT0evkhh_label","default":"<p>Try risk-free</p><p>&nbsp;</p><p>&nbsp;</p>"},{"type":"html","id":"ggf_Mzutwah_childItem_0","label":"ggf_Mzutwah_childItem_0","default":"<p>Lifetime Guarantee - Love it or your money back</p>"},{"type":"html","id":"ggLthalztKP_srcSet_desktop_src","label":"ggLthalztKP_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/download_8_f770a28d-bec4-4dcf-a987-d5219e7342cb.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}