
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607393004713411158.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607393004713411158.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607393004713411158.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607393004713411158.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607393004713411158.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607393004713411158.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607393004713411158.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607393004713411158.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607393004713411158.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607393004713411158.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607393004713411158.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607393004713411158.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607393004713411158.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607393004713411158.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607393004713411158.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607393004713411158.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607393004713411158.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607393004713411158.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607393004713411158.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607393004713411158.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607393004713411158.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607393004713411158.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607393004713411158.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607393004713411158.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607393004713411158.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607393004713411158.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607393004713411158.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607393004713411158.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607393004713411158.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607393004713411158.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607393004713411158.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607393004713411158.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607393004713411158.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607393004713411158.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607393004713411158.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607393004713411158.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607393004713411158.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607393004713411158.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607393004713411158.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607393004713411158.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-607393004713411158.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607393004713411158.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607393004713411158.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607393004713411158.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607393004713411158.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607393004713411158.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607393004713411158.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607393004713411158.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607393004713411158.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607393004713411158.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607393004713411158.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607393004713411158.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607393004713411158.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607393004713411158.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607393004713411158.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-607393004713411158.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607393004713411158.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607393004713411158.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607393004713411158.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607393004713411158.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607393004713411158.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-607393004713411158.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607393004713411158.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607393004713411158.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607393004713411158.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607393004713411158.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-607393004713411158.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607393004713411158.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607393004713411158.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607393004713411158.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607393004713411158.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607393004713411158.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607393004713411158.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607393004713411158.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607393004713411158.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607393004713411158.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607393004713411158.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-607393004713411158.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607393004713411158.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607393004713411158.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607393004713411158.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607393004713411158.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-607393004713411158.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607393004713411158.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607393004713411158.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607393004713411158 .gp-relative{position:relative}.gps-607393004713411158 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607393004713411158 .gp-mb-0{margin-bottom:0}.gps-607393004713411158 .gp-inline-block{display:inline-block}.gps-607393004713411158 .gp-flex{display:flex}.gps-607393004713411158 .gp-grid{display:grid}.gps-607393004713411158 .gp-contents{display:contents}.gps-607393004713411158 .\!gp-hidden{display:none!important}.gps-607393004713411158 .gp-hidden{display:none}.gps-607393004713411158 .gp-h-auto{height:auto}.gps-607393004713411158 .gp-h-full{height:100%}.gps-607393004713411158 .gp-w-full{width:100%}.gps-607393004713411158 .gp-max-w-full{max-width:100%}.gps-607393004713411158 .gp-flex-none{flex:none}.gps-607393004713411158 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607393004713411158 .gp-flex-col{flex-direction:column}.gps-607393004713411158 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607393004713411158 .gp-duration-200{transition-duration:.2s}.gps-607393004713411158 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607393004713411158 .tablet\:\!gp-hidden{display:none!important}.gps-607393004713411158 .tablet\:gp-hidden{display:none}.gps-607393004713411158 .tablet\:gp-h-auto{height:auto}.gps-607393004713411158 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-607393004713411158 .mobile\:\!gp-hidden{display:none!important}.gps-607393004713411158 .mobile\:gp-hidden{display:none}.gps-607393004713411158 .mobile\:gp-h-auto{height:auto}.gps-607393004713411158 .mobile\:gp-flex-none{flex:none}}.gps-607393004713411158 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyO4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gRB-SZ6NBk"}' data-id="gRB-SZ6NBk" id="gRB-SZ6NBk" data-same-height-subgrid-container class="gRB-SZ6NBk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:30px;--pb:30px;--pt-tablet:30px;--pb-tablet:30px;--pt-mobile:20px;--pb-mobile:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNsZgqzLP4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gYd0kJRPbH"}' data-id="gYd0kJRPbH" id="gYd0kJRPbH" data-same-height-subgrid-container class="gYd0kJRPbH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:10px;--pb:0px;--pr:10px;--mb-tablet:0px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--mb-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:980px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwRq-zV7IW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5YMEI5zwl"
        class="g5YMEI5zwl"
        style="--ta:center;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:88%;--w-tablet:70%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-heading, heading);--weight:700;--size:44px;--size-tablet:36px;--size-mobile:28px;--lh:123%;--lh-tablet:128%;--lh-mobile:136%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5YMEI5zwl_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnaf3mekjw"
        class="gnaf3mekjw"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnaf3mekjw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQcA0MaGwq"
        class="gQcA0MaGwq"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQcA0MaGwq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpOs3FHNdg"
        class="gpOs3FHNdg"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpOs3FHNdg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFF0F0","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gSKveTvCaC"}' data-id="gSKveTvCaC" id="gSKveTvCaC" data-same-height-subgrid-container class="gSKveTvCaC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:40px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-tablet:40px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:2px 2px 2px 2px;--bc:#F6A7AB;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--op:100%;--pos:relative;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFF0F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gx47ogkouC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guFSTrTkfD"
        class="guFSTrTkfD"
        style="--ta:left;--mt:0px;--pt:0px;--mt-tablet:0px;--pt-tablet:0px;--mt-mobile:0px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguFSTrTkfD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGezG8trT7"
        class="gGezG8trT7"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGezG8trT7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"ghkaZyh-ep"}' data-id="ghkaZyh-ep" id="ghkaZyh-ep" data-same-height-subgrid-container class="ghkaZyh-ep gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:34px;--pt:0px;--mt-tablet:34px;--mb-tablet:0px;--pt-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:9px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g23ptqCh4c gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdXUFd4O9B"
      style="--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232732233 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdXUFd4O9B"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggdXUFd4O9B_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDEyLTQ2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0idXJsKCNnLTQxMi00NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MTIiIHRvPSI0MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggdXUFd4O9B_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDEyLTQ2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0idXJsKCNnLTQxMi00NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MTIiIHRvPSI0MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggdXUFd4O9B_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDEyLTQ2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0idXJsKCNnLTQxMi00NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MTIiIHRvPSI0MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggdXUFd4O9B_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="glsdH5-sca gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0TMPe4VmS"
        class="g0TMPe4VmS"
        style="--ta:left;--mt:0px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0TMPe4VmS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gZthUHEInP"
      style="--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232732235 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gZthUHEInP"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggZthUHEInP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDEyLTQ2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0idXJsKCNnLTQxMi00NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MTIiIHRvPSI0MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggZthUHEInP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDEyLTQ2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0idXJsKCNnLTQxMi00NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MTIiIHRvPSI0MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggZthUHEInP_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDEyLTQ2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDEyIiBoZWlnaHQ9IjQ2OCIgZmlsbD0idXJsKCNnLTQxMi00NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MTIiIHRvPSI0MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggZthUHEInP_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKIkER_mKL"
        class="gKIkER_mKL"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKIkER_mKL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gB9YXtmlq3"
        class="gB9YXtmlq3"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggB9YXtmlq3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghU0ILXFYa"
        class="ghU0ILXFYa"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghU0ILXFYa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmLZwzA-P1"
        class="gmLZwzA-P1"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmLZwzA-P1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-607393004713411158 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=607381796862034487&sectionId=607393004713411158)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5YMEI5zwl_text","label":"gg5YMEI5zwl_text","default":"And Today, I Will Share This Secret... Every Detail That You Need To Know If You’re Over 30...With You."},{"type":"html","id":"ggnaf3mekjw_text","label":"ggnaf3mekjw_text","default":"<p>Why am I doing this?</p>"},{"type":"html","id":"ggQcA0MaGwq_text","label":"ggQcA0MaGwq_text","default":"<p>Firstly, the waiting list to see me personally in Korea is currently over a year long. And that's with me working 6 days a week and taking almost no vacations!</p>"},{"type":"html","id":"ggpOs3FHNdg_text","label":"ggpOs3FHNdg_text","default":"<p>It's become obvious to me that if I'm going to reach my goal of helping the millions of women who struggle with loose and sagging skin, deep wrinkles, and uneven texture... <strong>I need to spread the word right now about the true cause of aging skin, so women across America can finally take back control of their appearance.</strong></p>"},{"type":"html","id":"gguFSTrTkfD_text","label":"gguFSTrTkfD_text","default":"<p>We live in a world where skincare companies and beauty brands don't provide real anti-aging solutions...they just provide temporary fixes...</p>"},{"type":"html","id":"ggGezG8trT7_text","label":"ggGezG8trT7_text","default":"<p>Waiting for us to get desperate so they can charge us for expensive creams and treatments that only mask our aging concerns.</p>"},{"type":"html","id":"ggdXUFd4O9B_srcSet_desktop_src","label":"ggdXUFd4O9B_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/s5img.png"},{"type":"html","id":"gg0TMPe4VmS_text","label":"gg0TMPe4VmS_text","default":"<p>What they don't want you to know is that they aren't in control of your aging...YOU are.</p>"},{"type":"html","id":"ggZthUHEInP_srcSet_desktop_src","label":"ggZthUHEInP_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/s5img.png"},{"type":"html","id":"ggKIkER_mKL_text","label":"ggKIkER_mKL_text","default":"<p>And that the key to youthful, firm skin is actually SIMPLE... and something EVERYONE has access to.</p>"},{"type":"html","id":"ggB9YXtmlq3_text","label":"ggB9YXtmlq3_text","default":"<p><strong>And it all starts with Progerin control.</strong></p>"},{"type":"html","id":"gghU0ILXFYa_text","label":"gghU0ILXFYa_text","default":"<p>Okay, on to the good news.</p>"},{"type":"html","id":"ggmLZwzA-P1_text","label":"ggmLZwzA-P1_text","default":"<p>Once I realized the importance of controlling this aging protein, I began to look at skin aging in a completely different way.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}