
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607420054149005879.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607420054149005879.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607420054149005879.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607420054149005879.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607420054149005879.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607420054149005879.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607420054149005879.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607420054149005879.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607420054149005879.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607420054149005879.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607420054149005879.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607420054149005879.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607420054149005879.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607420054149005879.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607420054149005879.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607420054149005879.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607420054149005879.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607420054149005879.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607420054149005879.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607420054149005879.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607420054149005879.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607420054149005879.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607420054149005879.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607420054149005879.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607420054149005879.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607420054149005879.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607420054149005879.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607420054149005879.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607420054149005879.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607420054149005879.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607420054149005879.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607420054149005879.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607420054149005879.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607420054149005879.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607420054149005879.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607420054149005879.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-607420054149005879.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607420054149005879.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607420054149005879.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607420054149005879.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607420054149005879.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607420054149005879.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607420054149005879.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607420054149005879.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-607420054149005879.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607420054149005879.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607420054149005879.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607420054149005879.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607420054149005879.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-607420054149005879.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607420054149005879.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607420054149005879.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-607420054149005879.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607420054149005879.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607420054149005879.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607420054149005879.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607420054149005879.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607420054149005879.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-607420054149005879.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607420054149005879.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607420054149005879.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607420054149005879.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607420054149005879.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607420054149005879.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607420054149005879.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607420054149005879.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607420054149005879.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607420054149005879.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607420054149005879.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607420054149005879.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607420054149005879.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-607420054149005879.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607420054149005879.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607420054149005879.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607420054149005879.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607420054149005879.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607420054149005879.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607420054149005879.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607420054149005879 .gp-relative{position:relative}.gps-607420054149005879 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607420054149005879 .gp-mb-0{margin-bottom:0}.gps-607420054149005879 .gp-flex{display:flex}.gps-607420054149005879 .gp-grid{display:grid}.gps-607420054149005879 .\!gp-hidden{display:none!important}.gps-607420054149005879 .gp-hidden{display:none}.gps-607420054149005879 .gp-max-w-full{max-width:100%}.gps-607420054149005879 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607420054149005879 .gp-flex-col{flex-direction:column}.gps-607420054149005879 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607420054149005879 .gp-duration-200{transition-duration:.2s}.gps-607420054149005879 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607420054149005879 .tablet\:\!gp-hidden{display:none!important}.gps-607420054149005879 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-607420054149005879 .mobile\:\!gp-hidden{display:none!important}.gps-607420054149005879 .mobile\:gp-hidden{display:none}}.gps-607420054149005879 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyO4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gGXAB1k21O"}' data-id="gGXAB1k21O" id="gGXAB1k21O" data-same-height-subgrid-container class="gGXAB1k21O gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:40px;--pb:40px;--pt-tablet:40px;--pb-tablet:40px;--pt-mobile:40px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHMkaEsalF gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gPOsF_be5t"}' data-id="gPOsF_be5t" id="gPOsF_be5t" data-same-height-subgrid-container class="gPOsF_be5t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:10px;--pb:0px;--pr:10px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:980px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gw_x9YfRMc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2WT8GZ0E1"
        class="g2WT8GZ0E1"
        style="--ta:center;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:89%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-heading, heading);--weight:700;--size:44px;--size-tablet:36px;--size-mobile:28px;--lh:123%;--lh-tablet:128%;--lh-mobile:136%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2WT8GZ0E1_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFgH9Fyzo-"
        class="gFgH9Fyzo-"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFgH9Fyzo-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIb9Ba5ABu"
        class="gIb9Ba5ABu"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIb9Ba5ABu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"glhJYA8FzZ"}' data-id="glhJYA8FzZ" id="glhJYA8FzZ" data-same-height-subgrid-container class="glhJYA8FzZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:40px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-tablet:40px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:3px 3px 3px 3px;--bc:#000000;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--op:100%;--pos:static;--top:-136px;--right:0px;--z:99;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAJcxkFlD4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmdAQzHHAH"
        class="gmdAQzHHAH"
        style="--ta:left;--pt:0px;--pt-tablet:0px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:140%;--lh-tablet:150%;--lh-mobile:155%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmdAQzHHAH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      <style id="custom-css-glhJYA8FzZ">
        .glhJYA8FzZ {
    overflow: visible !important;
}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga6M-zsGpp"
        class="ga6M-zsGpp"
        style="--ta:left;--mt:34px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga6M-zsGpp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-607420054149005879 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=607381796862034487&sectionId=607420054149005879)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2WT8GZ0E1_text","label":"gg2WT8GZ0E1_text","default":"And The More Of These Youth-Boosting Compounds You Deliver Effectively To Your Skin, The More Dramatic Your Results Can Be."},{"type":"html","id":"ggFgH9Fyzo-_text","label":"ggFgH9Fyzo-_text","default":"<p>That's why my research and development of this powerful formula took me months. We had to perfect not just the formula, but the delivery system as well.</p>"},{"type":"html","id":"ggIb9Ba5ABu_text","label":"ggIb9Ba5ABu_text","default":"<p>And I was determined to create something entirely new - something that would actually address the root cause of aging instead of just masking it temporarily.</p>"},{"type":"html","id":"ggmdAQzHHAH_text","label":"ggmdAQzHHAH_text","default":"<p>I partnered with the team at Vitro and spent months perfecting and testing a new age-defying formula.</p>"},{"type":"html","id":"gga6M-zsGpp_text","label":"gga6M-zsGpp_text","default":"<p>We made sure to use the absolute finest quality of natural peptides.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}