
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609156957093233624.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-609156957093233624.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609156957093233624.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609156957093233624.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609156957093233624.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609156957093233624.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609156957093233624.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609156957093233624.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609156957093233624.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609156957093233624.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609156957093233624.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609156957093233624.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609156957093233624.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609156957093233624.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609156957093233624.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609156957093233624.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609156957093233624.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609156957093233624.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609156957093233624.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609156957093233624.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609156957093233624.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609156957093233624.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609156957093233624.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609156957093233624.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609156957093233624.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609156957093233624.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609156957093233624.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609156957093233624.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609156957093233624.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609156957093233624.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609156957093233624.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609156957093233624.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609156957093233624.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609156957093233624.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609156957093233624.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609156957093233624.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609156957093233624.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609156957093233624.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609156957093233624.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609156957093233624.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609156957093233624.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609156957093233624.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609156957093233624.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609156957093233624.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609156957093233624.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609156957093233624.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609156957093233624.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609156957093233624.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-609156957093233624.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609156957093233624.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609156957093233624.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609156957093233624.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-609156957093233624.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609156957093233624.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609156957093233624.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-609156957093233624.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609156957093233624.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609156957093233624.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609156957093233624.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-609156957093233624.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609156957093233624.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609156957093233624.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609156957093233624.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609156957093233624.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609156957093233624.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609156957093233624.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609156957093233624.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609156957093233624.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-609156957093233624.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609156957093233624.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609156957093233624.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-609156957093233624.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609156957093233624.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-609156957093233624.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609156957093233624.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609156957093233624.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609156957093233624.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609156957093233624.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609156957093233624.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609156957093233624.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609156957093233624.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609156957093233624.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609156957093233624.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609156957093233624.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609156957093233624.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609156957093233624.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-609156957093233624.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609156957093233624.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609156957093233624.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-609156957093233624.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609156957093233624 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-609156957093233624 .gp-relative{position:relative}.gps-609156957093233624 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609156957093233624 .gp-mb-0{margin-bottom:0}.gps-609156957093233624 .gp-inline-block{display:inline-block}.gps-609156957093233624 .gp-flex{display:flex}.gps-609156957093233624 .gp-inline-flex{display:inline-flex}.gps-609156957093233624 .gp-grid{display:grid}.gps-609156957093233624 .gp-contents{display:contents}.gps-609156957093233624 .\!gp-hidden{display:none!important}.gps-609156957093233624 .gp-hidden{display:none}.gps-609156957093233624 .gp-h-auto{height:auto}.gps-609156957093233624 .gp-h-full{height:100%}.gps-609156957093233624 .gp-w-full{width:100%}.gps-609156957093233624 .gp-max-w-full{max-width:100%}.gps-609156957093233624 .gp-flex-none{flex:none}.gps-609156957093233624 .gp-shrink-0{flex-shrink:0}.gps-609156957093233624 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609156957093233624 .gp-flex-col{flex-direction:column}.gps-609156957093233624 .gp-items-center{align-items:center}.gps-609156957093233624 .gp-justify-center{justify-content:center}.gps-609156957093233624 .gp-overflow-hidden{overflow:hidden}.gps-609156957093233624 .gp-border{border-width:1px}.gps-609156957093233624 .gp-border-transparent{border-color:transparent}.gps-609156957093233624 .gp-text-left{text-align:left}.gps-609156957093233624 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609156957093233624 .gp-duration-200{transition-duration:.2s}.gps-609156957093233624 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609156957093233624 .tablet\:\!gp-hidden{display:none!important}.gps-609156957093233624 .tablet\:gp-hidden{display:none}.gps-609156957093233624 .tablet\:gp-h-auto{height:auto}.gps-609156957093233624 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609156957093233624 .mobile\:\!gp-hidden{display:none!important}.gps-609156957093233624 .mobile\:gp-hidden{display:none}.gps-609156957093233624 .mobile\:gp-h-auto{height:auto}.gps-609156957093233624 .mobile\:gp-flex-none{flex:none}}.gps-609156957093233624 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-609156957093233624 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-609156957093233624 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-609156957093233624 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-609156957093233624 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-609156957093233624 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-609156957093233624 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gfG5G4sZRX"}' data-id="gfG5G4sZRX" id="gfG5G4sZRX" data-same-height-subgrid-container class="gfG5G4sZRX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:50px;--pb:50px;--pt-tablet:50px;--pb-tablet:50px;--pt-mobile:40px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggfmakYayz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gHFn3jbePZ"}' data-id="gHFn3jbePZ" id="gHFn3jbePZ" data-same-height-subgrid-container class="gHFn3jbePZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1100px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzFX95lUlK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH1IPgs6iV"
        class="gH1IPgs6iV"
        style="--ta:center;--ta-tablet:center;--mt:0px;--ml:0px;--mb:25px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:25px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:25px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center;--jc-tablet:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:65%;--w-tablet:70%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Migra, 'Migra'), var(--g-font-heading, heading);--weight:800;--size:45px;--size-tablet:46px;--size-mobile:41px;--lh:100%;--lh-tablet:130%;--lh-mobile:120%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH1IPgs6iV_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gSHSVFADw0"}' data-id="gSHSVFADw0" id="gSHSVFADw0" data-same-height-subgrid-container class="gSHSVFADw0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:50px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gumkSlaPeg gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gpGVlkwzc3"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right"
      class="gp-group/image gp-relative force-publish-1775232715367 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gpGVlkwzc3"
    >
      <div
        
        style="border-radius:inherit;--jc:right"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggpGVlkwzc3_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyOCIgaGVpZ2h0PSIxMzMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzI4LTEzMzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMjgiIGhlaWdodD0iMTMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyOCIgaGVpZ2h0PSIxMzMxIiBmaWxsPSJ1cmwoI2ctMTMyOC0xMzMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMyOCIgdG89IjEzMjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggpGVlkwzc3_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyOCIgaGVpZ2h0PSIxMzMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzI4LTEzMzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMjgiIGhlaWdodD0iMTMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyOCIgaGVpZ2h0PSIxMzMxIiBmaWxsPSJ1cmwoI2ctMTMyOC0xMzMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMyOCIgdG89IjEzMjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggpGVlkwzc3_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMyOCIgaGVpZ2h0PSIxMzMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzI4LTEzMzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMjgiIGhlaWdodD0iMTMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMyOCIgaGVpZ2h0PSIxMzMxIiBmaWxsPSJ1cmwoI2ctMTMyOC0xMzMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMyOCIgdG89IjEzMjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggpGVlkwzc3_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:330px;--w-tablet:330px;--w-mobile:330px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gAXE5AcX6Y gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g9WU_L4-kP"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left"
      class="gp-group/image gp-relative force-publish-1775232715368 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g9WU_L4-kP"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg9WU_L4-kP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMzMiIgaGVpZ2h0PSIxMzMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzMyLTEzMzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMzIiIGhlaWdodD0iMTMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMzMiIgaGVpZ2h0PSIxMzMxIiBmaWxsPSJ1cmwoI2ctMTMzMi0xMzMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMzMiIgdG89IjEzMzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg9WU_L4-kP_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMzMiIgaGVpZ2h0PSIxMzMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzMyLTEzMzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMzIiIGhlaWdodD0iMTMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMzMiIgaGVpZ2h0PSIxMzMxIiBmaWxsPSJ1cmwoI2ctMTMzMi0xMzMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMzMiIgdG89IjEzMzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg9WU_L4-kP_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMzMiIgaGVpZ2h0PSIxMzMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMzMyLTEzMzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEzMzIiIGhlaWdodD0iMTMzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTMzMiIgaGVpZ2h0PSIxMzMxIiBmaWxsPSJ1cmwoI2ctMTMzMi0xMzMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTMzMiIgdG89IjEzMzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg9WU_L4-kP_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:330px;--w-tablet:330px;--w-mobile:330px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"grirz3HljG"}' data-id="grirz3HljG" id="grirz3HljG" data-same-height-subgrid-container class="grirz3HljG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaEF0LCuux gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#005294","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gqaUEi5zEa"}' data-id="gqaUEi5zEa" id="gqaUEi5zEa" data-same-height-subgrid-container class="gqaUEi5zEa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#005294;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxNf2wqF9D gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gnfgGQyhFp ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gnfgGQyhFp"
      data-id="gnfgGQyhFp"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gnfgGQyhFp"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":24}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:right">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gnfgGQyhFp"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#FEB91C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnfgGQyhFp_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
      <style id="custom-css-gnfgGQyhFp">
        .gnfgGQyhFp {
    flex-direction: row-reverse;
}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gW9eAY7DpA gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-609156957093233624 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609144044693488562&sectionId=609156957093233624)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggH1IPgs6iV_text","label":"ggH1IPgs6iV_text","default":"Why Norse customers get Acne-free faster"},{"type":"html","id":"ggpGVlkwzc3_srcSet_desktop_src","label":"ggpGVlkwzc3_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/download_8.png"},{"type":"html","id":"gg9WU_L4-kP_srcSet_desktop_src","label":"gg9WU_L4-kP_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/download_9.png"},{"type":"html","id":"ggnfgGQyhFp_childItem_0","label":"ggnfgGQyhFp_childItem_0","default":"Your custom text goes here"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}