
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607418420534706948.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607418420534706948.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607418420534706948.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607418420534706948.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607418420534706948.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607418420534706948.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607418420534706948.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607418420534706948.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607418420534706948.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607418420534706948.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607418420534706948.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607418420534706948.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607418420534706948.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607418420534706948.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607418420534706948.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607418420534706948.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607418420534706948.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607418420534706948.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607418420534706948.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607418420534706948.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607418420534706948.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607418420534706948.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607418420534706948.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607418420534706948.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607418420534706948.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607418420534706948.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607418420534706948.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607418420534706948.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607418420534706948.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607418420534706948.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607418420534706948.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607418420534706948.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607418420534706948.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607418420534706948.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607418420534706948.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607418420534706948.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-607418420534706948.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607418420534706948.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607418420534706948.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607418420534706948.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607418420534706948.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607418420534706948.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607418420534706948.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607418420534706948.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607418420534706948.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607418420534706948.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607418420534706948.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607418420534706948.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607418420534706948.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607418420534706948.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607418420534706948.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607418420534706948.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607418420534706948.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607418420534706948.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-607418420534706948.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607418420534706948.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607418420534706948.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607418420534706948.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607418420534706948.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-607418420534706948.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607418420534706948.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607418420534706948.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607418420534706948.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607418420534706948.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607418420534706948.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607418420534706948.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607418420534706948.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607418420534706948.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607418420534706948.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607418420534706948.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607418420534706948.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607418420534706948.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607418420534706948.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-607418420534706948.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607418420534706948.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607418420534706948.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607418420534706948.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607418420534706948.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607418420534706948.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607418420534706948.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607418420534706948.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607418420534706948 .gp-relative{position:relative}.gps-607418420534706948 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607418420534706948 .gp-mb-0{margin-bottom:0}.gps-607418420534706948 .gp-inline-block{display:inline-block}.gps-607418420534706948 .gp-flex{display:flex}.gps-607418420534706948 .gp-grid{display:grid}.gps-607418420534706948 .gp-contents{display:contents}.gps-607418420534706948 .\!gp-hidden{display:none!important}.gps-607418420534706948 .gp-hidden{display:none}.gps-607418420534706948 .gp-h-auto{height:auto}.gps-607418420534706948 .gp-h-full{height:100%}.gps-607418420534706948 .gp-w-full{width:100%}.gps-607418420534706948 .gp-max-w-full{max-width:100%}.gps-607418420534706948 .gp-flex-none{flex:none}.gps-607418420534706948 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607418420534706948 .gp-flex-col{flex-direction:column}.gps-607418420534706948 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607418420534706948 .gp-duration-200{transition-duration:.2s}.gps-607418420534706948 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607418420534706948 .tablet\:\!gp-hidden{display:none!important}.gps-607418420534706948 .tablet\:gp-hidden{display:none}.gps-607418420534706948 .tablet\:gp-h-auto{height:auto}.gps-607418420534706948 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-607418420534706948 .mobile\:\!gp-hidden{display:none!important}.gps-607418420534706948 .mobile\:gp-hidden{display:none}.gps-607418420534706948 .mobile\:gp-h-auto{height:auto}.gps-607418420534706948 .mobile\:gp-flex-none{flex:none}}.gps-607418420534706948 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyO4a0FQ&skey=bafc0b239d492b2c&v=v15) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"image","color":"transparent","image":{"src":"{{ section.settings.ggv6NrRn_Lh_background_desktop_image_src }}","width":1792,"height":576,"storage":"FILE_CONTENT","backupFileKey":"gempages_606838643067257430-5cd9441a-c12c-4902-9bd9-a9aefc12b7d2.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gv6NrRn_Lh"}' data-id="gv6NrRn_Lh" id="gv6NrRn_Lh" data-same-height-subgrid-container class="gv6NrRn_Lh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:40px;--pb:40px;--pt-tablet:0px;--pb-tablet:40px;--pt-mobile:40px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url({{ section.settings.ggv6NrRn_Lh_background_desktop_image_src }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi8NcetoFL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gIxF7_R56_"}' data-id="gIxF7_R56_" id="gIxF7_R56_" data-same-height-subgrid-container class="gIxF7_R56_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:10px;--pb:0px;--pr:10px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:980px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsf7sWak7T gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g__Xx8q_7d"
        class="g__Xx8q_7d"
        style="--ta:left;--mt:0px;--pt:0px;--mt-tablet:20px;--pt-tablet:0px;--mt-mobile:28px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:142%;--lh-tablet:150%;--lh-mobile:156%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg__Xx8q_7d_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gjdpirpak9"
      style="--mt:24px;--ml:0px;--mb:24px;--mt-tablet:24px;--ml-tablet:0px;--mb-tablet:24px;--mt-mobile:15px;--ml-mobile:0px;--mb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232731889 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gjdpirpak9"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggjdpirpak9_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjI4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDctMjgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NyIgaGVpZ2h0PSIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjI4IiBmaWxsPSJ1cmwoI2ctMTQ3LTI4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ3IiB0bz0iMTQ3IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggjdpirpak9_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjI4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDctMjgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NyIgaGVpZ2h0PSIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjI4IiBmaWxsPSJ1cmwoI2ctMTQ3LTI4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ3IiB0bz0iMTQ3IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggjdpirpak9_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjI4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDctMjgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NyIgaGVpZ2h0PSIyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjI4IiBmaWxsPSJ1cmwoI2ctMTQ3LTI4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ3IiB0bz0iMTQ3IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggjdpirpak9_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:130px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMagimsSAJ"
        class="gMagimsSAJ"
        style="--ta:center;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--mb-mobile:40px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:90%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:46px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMagimsSAJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gQDrQhDpos"
      style="--mt:60px;--mt-tablet:40px;--mt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232731891 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQDrQhDpos"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggQDrQhDpos_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTA5IiBoZWlnaHQ9IjExMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkwOS0xMTE4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MDkiIGhlaWdodD0iMTExOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTA5IiBoZWlnaHQ9IjExMTgiIGZpbGw9InVybCgjZy05MDktMTExOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkwOSIgdG89IjkwOSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggQDrQhDpos_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTA5IiBoZWlnaHQ9IjExMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkwOS0xMTE4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MDkiIGhlaWdodD0iMTExOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTA5IiBoZWlnaHQ9IjExMTgiIGZpbGw9InVybCgjZy05MDktMTExOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkwOSIgdG89IjkwOSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ section.settings.ggQDrQhDpos_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTA5IiBoZWlnaHQ9IjExMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTkwOS0xMTE4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5MDkiIGhlaWdodD0iMTExOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTA5IiBoZWlnaHQ9IjExMTgiIGZpbGw9InVybCgjZy05MDktMTExOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTkwOSIgdG89IjkwOSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ section.settings.ggQDrQhDpos_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMClzg_O4F"
        class="gMClzg_O4F"
        style="--ta:left;--mt:10px;--mb:180px;--pt:0px;--pt-tablet:0px;--mb-mobile:144px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:26px;--size-tablet:22px;--size-mobile:18px;--lh:140%;--lh-tablet:150%;--lh-mobile:155%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMClzg_O4F_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-607418420534706948 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=607381796862034487&sectionId=607418420534706948)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggv6NrRn_Lh_background_desktop_image_src","label":"ggv6NrRn_Lh_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/Generated_Image_February_20_2026_-_11_37PM_fcbc75b1-a92f-4b7a-bbe0-b39e4fc5d6d7.png"},{"type":"html","id":"gg__Xx8q_7d_text","label":"gg__Xx8q_7d_text","default":"<p><strong>So today I'd like to introduce you&nbsp;to</strong></p>"},{"type":"html","id":"ggjdpirpak9_srcSet_desktop_src","label":"ggjdpirpak9_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/logo.png"},{"type":"html","id":"ggMagimsSAJ_text","label":"ggMagimsSAJ_text","default":"Age Defying Lift &amp; Firm Cream."},{"type":"html","id":"ggQDrQhDpos_srcSet_desktop_src","label":"ggQDrQhDpos_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/My_fine_lines_are_barely_visible_and_my_skin_looks_firmer_and_more_lifted._My_face_finally_looks_youthful_again_the_confidence_is_real._Elena_58_Verified_Vitro_Customer_1_copy-Photoro.png"},{"type":"html","id":"ggMClzg_O4F_text","label":"ggMClzg_O4F_text","default":"<p><strong>Age Defying Lift &amp; Firm Cream is the first and ONLY formula on the market to combine powerful age-fighting peptides and ingredients.</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}