
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607890080152945238.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607890080152945238.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607890080152945238.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607890080152945238.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607890080152945238.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607890080152945238.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607890080152945238.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607890080152945238.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607890080152945238.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607890080152945238.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607890080152945238.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607890080152945238.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607890080152945238.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607890080152945238.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607890080152945238.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607890080152945238.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607890080152945238.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607890080152945238.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607890080152945238.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607890080152945238.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607890080152945238.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607890080152945238.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607890080152945238.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607890080152945238.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607890080152945238.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607890080152945238.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607890080152945238.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607890080152945238.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607890080152945238.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607890080152945238.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607890080152945238.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607890080152945238.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607890080152945238.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607890080152945238.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-607890080152945238.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607890080152945238.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607890080152945238.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607890080152945238.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607890080152945238.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607890080152945238.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607890080152945238.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607890080152945238.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607890080152945238.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607890080152945238.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607890080152945238.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607890080152945238.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607890080152945238.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607890080152945238.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607890080152945238.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607890080152945238.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607890080152945238.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607890080152945238.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607890080152945238.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607890080152945238.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607890080152945238.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607890080152945238.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607890080152945238.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607890080152945238.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607890080152945238.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607890080152945238.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607890080152945238.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607890080152945238.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607890080152945238.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607890080152945238.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-607890080152945238.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-607890080152945238.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607890080152945238.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607890080152945238.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607890080152945238.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607890080152945238.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-607890080152945238.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607890080152945238.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-607890080152945238.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607890080152945238.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607890080152945238.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607890080152945238.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607890080152945238.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607890080152945238.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607890080152945238.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607890080152945238 .gp-relative{position:relative}.gps-607890080152945238 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607890080152945238 .gp-mb-0{margin-bottom:0}.gps-607890080152945238 .gp-inline-block{display:inline-block}.gps-607890080152945238 .gp-flex{display:flex}.gps-607890080152945238 .gp-grid{display:grid}.gps-607890080152945238 .gp-contents{display:contents}.gps-607890080152945238 .\!gp-hidden{display:none!important}.gps-607890080152945238 .gp-hidden{display:none}.gps-607890080152945238 .gp-h-full{height:100%}.gps-607890080152945238 .gp-w-full{width:100%}.gps-607890080152945238 .gp-max-w-full{max-width:100%}.gps-607890080152945238 .gp-flex-1{flex:1 1 0%}.gps-607890080152945238 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607890080152945238 .gp-flex-col{flex-direction:column}.gps-607890080152945238 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607890080152945238 .gp-duration-200{transition-duration:.2s}.gps-607890080152945238 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607890080152945238 .tablet\:\!gp-hidden{display:none!important}.gps-607890080152945238 .tablet\:gp-hidden{display:none}.gps-607890080152945238 .tablet\:gp-h-full{height:100%}.gps-607890080152945238 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-607890080152945238 .mobile\:\!gp-hidden{display:none!important}.gps-607890080152945238 .mobile\:gp-hidden{display:none}.gps-607890080152945238 .mobile\:gp-h-auto{height:auto}.gps-607890080152945238 .mobile\:gp-flex-none{flex:none}}.gps-607890080152945238 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"giNjGk-LuU"}' data-id="giNjGk-LuU" id="giNjGk-LuU" data-same-height-subgrid-container class="giNjGk-LuU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJCzLwlLV6 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g7nZ25EH5C"}' data-id="g7nZ25EH5C" id="g7nZ25EH5C" data-same-height-subgrid-container class="g7nZ25EH5C gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:15px;--pb:0px;--pr:15px;--mb-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqlUZFtuCm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKM12xxoUh"
        class="gKM12xxoUh"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKM12xxoUh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvVZ9OaVK1"
        class="gvVZ9OaVK1"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvVZ9OaVK1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXymGOyI65"
        class="gXymGOyI65"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXymGOyI65_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBiUz-K9TI"
        class="gBiUz-K9TI"
        style="--ta:left;--mt:24px;--mb:24px;--mt-tablet:24px;--mb-tablet:24px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBiUz-K9TI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FAF6ED","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"#EFF6FF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gHufNh-UqR"}' data-id="gHufNh-UqR" id="gHufNh-UqR" data-same-height-subgrid-container class="gHufNh-UqR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:12px;--ml-mobile:auto;--mb-mobile:12px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:0px 0px 0px 3px;--bc:#C9A84C;--bc-mobile:#3B82F6;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FAF6ED;--bgc-mobile:#EFF6FF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g81FRWzVoX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzBs6uolvA"
        class="gzBs6uolvA"
        style="--ta:left;--mt:0px;--mb:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzBs6uolvA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8-0fEuMxl"
        class="g8-0fEuMxl"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8-0fEuMxl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g96mqAe0Vu"
        class="g96mqAe0Vu"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg96mqAe0Vu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggSiGoTJmg"
        class="ggSiGoTJmg"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggSiGoTJmg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqJ6LI_Yk7"
        class="gqJ6LI_Yk7"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqJ6LI_Yk7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDB1I9aL_1"
        class="gDB1I9aL_1"
        style="--ta:left;--mt:24px;--mb:24px;--mt-tablet:24px;--mb-tablet:24px;--mt-mobile:0px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDB1I9aL_1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FAF6ED","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"#F3FCF3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gDirjpEyoo"}' data-id="gDirjpEyoo" id="gDirjpEyoo" data-same-height-subgrid-container class="gDirjpEyoo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:0px 0px 0px 3px;--bc:#C9A84C;--bc-mobile:#7ABA5E;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FAF6ED;--bgc-mobile:#F3FCF3;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gx53le1qVN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gS57mEwk1z"
        class="gS57mEwk1z"
        style="--ta:left;--mt:0px;--mb:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS57mEwk1z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIR3RvmLKy"
        class="gIR3RvmLKy"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIR3RvmLKy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtSEizjuf1"
        class="gtSEizjuf1"
        style="--ta:left;--mt:24px;--mb:24px;--mt-tablet:24px;--mb-tablet:24px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtSEizjuf1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gdVZ6T6KCh"
      style="--mt-mobile:12px;--ml-mobile:0px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232719942 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gdVZ6T6KCh"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggdVZ6T6KCh_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggdVZ6T6KCh_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggdVZ6T6KCh_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggdVZ6T6KCh_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:270px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:20px;--bblr:20px;--bbrr:20px;--btlr:20px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gM-E8beuwQ"
        class="gM-E8beuwQ"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggM-E8beuwQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gh-X0XQIoH"
        class="gh-X0XQIoH"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggh-X0XQIoH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMvDDrWj5B"
        class="gMvDDrWj5B"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMvDDrWj5B_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmBiSFyXZh"
        class="gmBiSFyXZh"
        style="--ta:left;--mt:24px;--mb:24px;--mt-tablet:24px;--mb-tablet:24px;--mt-mobile:24px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmBiSFyXZh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FAF6ED","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"#F3FCF3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g9-QkiLCLc"}' data-id="g9-QkiLCLc" id="g9-QkiLCLc" data-same-height-subgrid-container class="g9-QkiLCLc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:0px 0px 0px 3px;--bc:#C9A84C;--bc-mobile:#7ABA5E;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FAF6ED;--bgc-mobile:#F3FCF3;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG4ZDFJoNN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2uOM2116Y"
        class="g2uOM2116Y"
        style="--ta:left;--mt:0px;--mb:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2uOM2116Y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpwJ7b0AxK"
        class="gpwJ7b0AxK"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpwJ7b0AxK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg2h2Oweu6"
        class="gg2h2Oweu6"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggg2h2Oweu6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ge4L-lMWQ2"
        class="ge4L-lMWQ2"
        style="--ta:left;--mt:24px;--mb:24px;--mt-tablet:24px;--mb-tablet:24px;--mt-mobile:12px;--mb-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gge4L-lMWQ2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FAF6ED","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"#EFF6FF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gMmHF0j98h"}' data-id="gMmHF0j98h" id="gMmHF0j98h" data-same-height-subgrid-container class="gMmHF0j98h gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mb-mobile:0px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:0px 0px 0px 3px;--bc:#C9A84C;--bc-mobile:#3B82F6;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FAF6ED;--bgc-mobile:#EFF6FF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glS_YH2mdh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnBru7aSdU"
        class="gnBru7aSdU"
        style="--ta:left;--mt:0px;--mb:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnBru7aSdU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3L8tjYKjW"
        class="g3L8tjYKjW"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3L8tjYKjW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzTe1LCzVm"
        class="gzTe1LCzVm"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzTe1LCzVm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gykf75_TqX"
        class="gykf75_TqX"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggykf75_TqX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPo_4W5CmQ"
        class="gPo_4W5CmQ"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPo_4W5CmQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gk5Vsz8shc"
        class="gk5Vsz8shc"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggk5Vsz8shc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gclCjlNQzk"
        class="gclCjlNQzk"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggclCjlNQzk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FAF6ED","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g8TKB9yaR6"}' data-id="g8TKB9yaR6" id="g8TKB9yaR6" data-same-height-subgrid-container class="g8TKB9yaR6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:24px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:24px;--mb-tablet:0px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:12px;--mb-mobile:12px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#C9A84C;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FAF6ED;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXMoyZ3IVC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6C5BRdUnX"
        class="g6C5BRdUnX"
        style="--ta:left;--mt:0px;--mb:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6C5BRdUnX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_jPC9kyPh"
        class="g_jPC9kyPh"
        style="--ta:left;--mt:24px;--mb:24px;--mt-tablet:24px;--mb-tablet:24px;--mt-mobile:0px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_jPC9kyPh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gmHq7l7r2p"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232720228 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gmHq7l7r2p"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggmHq7l7r2p_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggmHq7l7r2p_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggmHq7l7r2p_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggmHq7l7r2p_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:270px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:20px;--bblr:20px;--bbrr:20px;--btlr:20px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FAF6ED","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"#EFF6FF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g0vh2Cj6IP"}' data-id="g0vh2Cj6IP" id="g0vh2Cj6IP" data-same-height-subgrid-container class="g0vh2Cj6IP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:24px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:24px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:12px;--mb-mobile:0px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:0px 0px 0px 3px;--bc:#C9A84C;--bc-mobile:#3B82F6;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FAF6ED;--bgc-mobile:#EFF6FF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gL4TevnobE gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCDAKces86"
        class="gCDAKces86"
        style="--ta:left;--mt:0px;--mb:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCDAKces86_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJDz23aFfO"
        class="gJDz23aFfO"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJDz23aFfO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gniS0cZmoY"
        class="gniS0cZmoY"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggniS0cZmoY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPzHI1G9Ix"
        class="gPzHI1G9Ix"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPzHI1G9Ix_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5bl0rRp3M"
        class="g5bl0rRp3M"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5bl0rRp3M_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJpsBVUPZe"
        class="gJpsBVUPZe"
        style="--ta:left;--mt:24px;--mb:0px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJpsBVUPZe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu1yA2_MEl"
        class="gu1yA2_MEl"
        style="--ta:left;--mt:24px;--mb:24px;--mt-tablet:24px;--mb-tablet:24px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu1yA2_MEl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FAF6ED","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"#F3FCF3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gG401F2Qxq"}' data-id="gG401F2Qxq" id="gG401F2Qxq" data-same-height-subgrid-container class="gG401F2Qxq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:12px;--ml-mobile:auto;--mb-mobile:12px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:0px 0px 0px 3px;--bc:#C9A84C;--bc-mobile:#7ABA5E;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FAF6ED;--bgc-mobile:#F3FCF3;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSvrsWv0R4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkLnIGKx7B"
        class="gkLnIGKx7B"
        style="--ta:left;--mt:0px;--mb:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkLnIGKx7B_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8SmwssvW_"
        class="g8SmwssvW_"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8SmwssvW__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnGPid-ZCD"
        class="gnGPid-ZCD"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mb-tablet:0px;--mt-mobile:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Noto-Serif, 'Noto Serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnGPid-ZCD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-607890080152945238 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607864187825160759&sectionId=607890080152945238)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKM12xxoUh_text","label":"ggKM12xxoUh_text","default":"<p><strong>By week 5, my knee pain during yoga was noticeably better.</strong></p>"},{"type":"html","id":"ggvVZ9OaVK1_text","label":"ggvVZ9OaVK1_text","default":"<p>I could hold poses I'd been modifying for months.</p>"},{"type":"html","id":"ggXymGOyI65_text","label":"ggXymGOyI65_text","default":"<p>Downward dog didn't make my wrists ache. &nbsp;And especially warrior pose didn't make my back throb.</p>"},{"type":"html","id":"ggBiUz-K9TI_text","label":"ggBiUz-K9TI_text","default":"<p>Week 6 is when my husband noticed.</p>"},{"type":"html","id":"ggzBs6uolvA_text","label":"ggzBs6uolvA_text","default":"<p><i><strong>\"You're moving differently,\" he said. \"Like you're not scared of your own body anymore.\"</strong></i></p>"},{"type":"html","id":"gg8-0fEuMxl_text","label":"gg8-0fEuMxl_text","default":"<p>He was right.</p>"},{"type":"html","id":"gg96mqAe0Vu_text","label":"gg96mqAe0Vu_text","default":"<p><strong>I'd been tiptoeing through my own life. Afraid every movement might cause a fracture.</strong></p>"},{"type":"html","id":"gggSiGoTJmg_text","label":"gggSiGoTJmg_text","default":"<p>That constant fear was starting to lift.</p>"},{"type":"html","id":"ggqJ6LI_Yk7_text","label":"ggqJ6LI_Yk7_text","default":"<p><strong>Month 4: The Confidence Started Coming Back</strong></p>"},{"type":"html","id":"ggDB1I9aL_1_text","label":"ggDB1I9aL_1_text","default":"<p>By month 4, I was doing things I'd stopped doing.</p>"},{"type":"html","id":"ggS57mEwk1z_text","label":"ggS57mEwk1z_text","default":"<p><strong>I carried a full laundry basket up the stairs. Both hands. No fear.</strong></p>"},{"type":"html","id":"ggIR3RvmLKy_text","label":"ggIR3RvmLKy_text","default":"<p>I reached up to get something from the top shelf without that moment of hesitation and mental calculation.</p>"},{"type":"html","id":"ggtSEizjuf1_text","label":"ggtSEizjuf1_text","default":"<p>I went for a hike with my sister. A real hike with elevation, not a gentle walk on flat ground.</p>"},{"type":"html","id":"ggdVZ6T6KCh_srcSet_desktop_src","label":"ggdVZ6T6KCh_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/Gemini_Generated_Image_83911s83911s8391.webp"},{"type":"html","id":"ggM-E8beuwQ_text","label":"ggM-E8beuwQ_text","default":"<p><strong>My daughter called and asked if I wanted to help her move furniture for her new apartment.</strong></p>"},{"type":"html","id":"ggh-X0XQIoH_text","label":"ggh-X0XQIoH_text","default":"<p>A few months ago, I would have made an excuse. Now I said yes.</p>"},{"type":"html","id":"ggMvDDrWj5B_text","label":"ggMvDDrWj5B_text","default":"<p>The physical changes were obvious.</p><p>But the emotional shift was even bigger.</p>"},{"type":"html","id":"ggmBiSFyXZh_text","label":"ggmBiSFyXZh_text","default":"<p>I reached up to get something from the top shelf without that moment of hesitation and mental calculation.</p>"},{"type":"html","id":"gg2uOM2116Y_text","label":"gg2uOM2116Y_text","default":"<p><strong>I felt like myself again.</strong></p>"},{"type":"html","id":"ggpwJ7b0AxK_text","label":"ggpwJ7b0AxK_text","default":"<p>Not some fragile version of myself. Not some old lady waiting to break.</p>"},{"type":"html","id":"ggg2h2Oweu6_text","label":"ggg2h2Oweu6_text","default":"<p>Just... me. Sarah. The person I was before that devastating phone call.</p>"},{"type":"html","id":"gge4L-lMWQ2_text","label":"gge4L-lMWQ2_text","default":"<p>My adult son Hunter noticed it during Friday night dinner.</p>"},{"type":"html","id":"ggnBru7aSdU_text","label":"ggnBru7aSdU_text","default":"<p><i><strong>\"Mom, you seem happier,\" he said. \"More like your old self.\"</strong></i></p>"},{"type":"html","id":"gg3L8tjYKjW_text","label":"gg3L8tjYKjW_text","default":"<p>I didn't realize how much fear I'd been carrying until I finally let it go.</p>"},{"type":"html","id":"ggzTe1LCzVm_text","label":"ggzTe1LCzVm_text","default":"<p><strong>My Latest DEXA Scan That Made Me Cry</strong></p>"},{"type":"html","id":"ggykf75_TqX_text","label":"ggykf75_TqX_text","default":"<p>My follow-up DEXA scan was scheduled for next February.</p>"},{"type":"html","id":"ggPo_4W5CmQ_text","label":"ggPo_4W5CmQ_text","default":"<p><strong>I was terrified the night before.</strong></p><p><strong>What if nothing had changed? What if I'd just wasted another 6 months?</strong></p>"},{"type":"html","id":"ggk5Vsz8shc_text","label":"ggk5Vsz8shc_text","default":"<p>What if my hope had been stupid and naive? The next morning, the technician did the scan.</p>"},{"type":"html","id":"ggclCjlNQzk_text","label":"ggclCjlNQzk_text","default":"<p>Then my doctor came in to review the results.</p>"},{"type":"html","id":"gg6C5BRdUnX_text","label":"gg6C5BRdUnX_text","default":"<p><i><strong>She pulled up my scans side by side on the screen. My old scan from August last year. The new one from February.</strong></i></p>"},{"type":"html","id":"gg_jPC9kyPh_text","label":"gg_jPC9kyPh_text","default":"<p>Then my doctor came in to review the results.</p>"},{"type":"html","id":"ggmHq7l7r2p_srcSet_desktop_src","label":"ggmHq7l7r2p_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/Gemini_Generated_Image_hgcxnihgcxnihgcx.webp"},{"type":"html","id":"ggCDAKces86_text","label":"ggCDAKces86_text","default":"<p><i><strong>\"Sarah, your T-score improved to negative 1.9. You've gained bone density.\"</strong></i></p>"},{"type":"html","id":"ggJDz23aFfO_text","label":"ggJDz23aFfO_text","default":"<p><strong>I started crying right there in her office.</strong></p>"},{"type":"html","id":"ggniS0cZmoY_text","label":"ggniS0cZmoY_text","default":"<p><i>\"How is this possible? You said just keep taking calcium...\"</i></p>"},{"type":"html","id":"ggPzHI1G9Ix_text","label":"ggPzHI1G9Ix_text","default":"<p><strong>She looked genuinely surprised. \"What did you do? What changed?\"</strong></p>"},{"type":"html","id":"gg5bl0rRp3M_text","label":"gg5bl0rRp3M_text","default":"<p>I told her about Dr. Chen's research. About NAD+. About restoring cellular energy.</p>"},{"type":"html","id":"ggJpsBVUPZe_text","label":"ggJpsBVUPZe_text","default":"<p>She was quiet for a moment.</p>"},{"type":"html","id":"ggu1yA2_MEl_text","label":"ggu1yA2_MEl_text","default":"<p><i>\"I don't know much about this approach,\" she admitted. \"But whatever you're doing, keep doing it. This is remarkable for someone your age going through menopause.\"</i></p>"},{"type":"html","id":"ggkLnIGKx7B_text","label":"ggkLnIGKx7B_text","default":"<p><strong>I went from borderline osteoporosis back to moderate osteopenia in record time.</strong></p>"},{"type":"html","id":"gg8SmwssvW__text","label":"gg8SmwssvW__text","default":"<p>My bones demolition crew was still active, but my bone's construction crew had finally woken up.</p>"},{"type":"html","id":"ggnGPid-ZCD_text","label":"ggnGPid-ZCD_text","default":"<p><strong>They had the energy to rebuild again.</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}