
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607252577687437879.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607252577687437879.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607252577687437879.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607252577687437879.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607252577687437879.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607252577687437879.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607252577687437879.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607252577687437879.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607252577687437879.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607252577687437879.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607252577687437879.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607252577687437879.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607252577687437879.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607252577687437879.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607252577687437879.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607252577687437879.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607252577687437879.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607252577687437879.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607252577687437879.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607252577687437879.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607252577687437879.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607252577687437879.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-607252577687437879.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607252577687437879.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607252577687437879.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607252577687437879.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607252577687437879.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607252577687437879.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607252577687437879.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607252577687437879.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607252577687437879.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607252577687437879.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-607252577687437879.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607252577687437879.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607252577687437879.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607252577687437879.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607252577687437879.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607252577687437879.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-607252577687437879.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607252577687437879.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-607252577687437879.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-607252577687437879.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607252577687437879.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607252577687437879.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607252577687437879.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607252577687437879.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607252577687437879.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607252577687437879.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607252577687437879.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607252577687437879.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607252577687437879.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607252577687437879.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-607252577687437879.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607252577687437879.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607252577687437879.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607252577687437879.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607252577687437879.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-607252577687437879.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607252577687437879.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-607252577687437879.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607252577687437879.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-607252577687437879.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607252577687437879.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-607252577687437879.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-607252577687437879.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-607252577687437879.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607252577687437879.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607252577687437879.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-607252577687437879.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607252577687437879.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607252577687437879.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-607252577687437879.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607252577687437879.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-607252577687437879.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-607252577687437879.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607252577687437879.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607252577687437879.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607252577687437879.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607252577687437879.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-607252577687437879.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-607252577687437879.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607252577687437879.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-607252577687437879.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607252577687437879.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607252577687437879.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607252577687437879.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-607252577687437879.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-607252577687437879.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607252577687437879.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607252577687437879.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607252577687437879.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-607252577687437879.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-607252577687437879.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607252577687437879.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607252577687437879.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-607252577687437879.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607252577687437879.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-607252577687437879.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-607252577687437879.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-607252577687437879.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607252577687437879.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607252577687437879.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607252577687437879.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607252577687437879.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-607252577687437879.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-607252577687437879.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607252577687437879.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-607252577687437879.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607252577687437879.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607252577687437879 .gp-rotate-0,.gps-607252577687437879 .gp-rotate-180,.gps-607252577687437879 .mobile\:gp-rotate-0,.gps-607252577687437879 .mobile\:gp-rotate-180,.gps-607252577687437879 .tablet\:gp-rotate-0,.gps-607252577687437879 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-607252577687437879 .gp-static{position:static}.gps-607252577687437879 .\!gp-absolute{position:absolute!important}.gps-607252577687437879 .gp-relative{position:relative}.gps-607252577687437879 .gp-left-0{left:0}.gps-607252577687437879 .gp-right-0{right:0}.gps-607252577687437879 .gp-z-1{z-index:1}.gps-607252577687437879 .gp-z-2{z-index:2}.gps-607252577687437879 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607252577687437879 .gp-my-0{margin-bottom:0;margin-top:0}.gps-607252577687437879 .gp-mb-0{margin-bottom:0}.gps-607252577687437879 .gp-block{display:block}.gps-607252577687437879 .gp-inline-block{display:inline-block}.gps-607252577687437879 .\!gp-flex{display:flex!important}.gps-607252577687437879 .gp-flex{display:flex}.gps-607252577687437879 .gp-inline-flex{display:inline-flex}.gps-607252577687437879 .gp-grid{display:grid}.gps-607252577687437879 .gp-contents{display:contents}.gps-607252577687437879 .\!gp-hidden{display:none!important}.gps-607252577687437879 .gp-hidden{display:none}.gps-607252577687437879 .gp-h-auto{height:auto}.gps-607252577687437879 .gp-h-full{height:100%}.gps-607252577687437879 .\!gp-min-h-full{min-height:100%!important}.gps-607252577687437879 .gp-w-full{width:100%}.gps-607252577687437879 .\!gp-max-w-none{max-width:none!important}.gps-607252577687437879 .gp-max-w-full{max-width:100%}.gps-607252577687437879 .gp-flex-1{flex:1 1 0%}.gps-607252577687437879 .gp-flex-none{flex:none}.gps-607252577687437879 .gp-shrink-0{flex-shrink:0}.gps-607252577687437879 .gp-rotate-0{--tw-rotate:0deg}.gps-607252577687437879 .gp-rotate-0,.gps-607252577687437879 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-607252577687437879 .gp-rotate-180{--tw-rotate:180deg}.gps-607252577687437879 .gp-cursor-pointer{cursor:pointer}.gps-607252577687437879 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-607252577687437879 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607252577687437879 .\!gp-flex-row{flex-direction:row!important}.gps-607252577687437879 .gp-flex-row{flex-direction:row}.gps-607252577687437879 .gp-flex-col{flex-direction:column}.gps-607252577687437879 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-607252577687437879 .gp-content-start{align-content:flex-start}.gps-607252577687437879 .gp-items-center{align-items:center}.gps-607252577687437879 .gp-justify-center{justify-content:center}.gps-607252577687437879 .gp-justify-between{justify-content:space-between}.gps-607252577687437879 .gp-gap-2{gap:8px}.gps-607252577687437879 .gp-overflow-hidden{overflow:hidden}.gps-607252577687437879 .gp-break-words{overflow-wrap:break-word}.gps-607252577687437879 .gp-text-center{text-align:center}.gps-607252577687437879 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-607252577687437879 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-607252577687437879 .gp-no-underline{text-decoration-line:none}.gps-607252577687437879 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607252577687437879 .gp-duration-200{transition-duration:.2s}.gps-607252577687437879 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607252577687437879 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-607252577687437879 .before\:gp-left-0:before{content:var(--tw-content);left:0}.gps-607252577687437879 .before\:gp-top-0:before{content:var(--tw-content);top:0}.gps-607252577687437879 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-607252577687437879 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-607252577687437879 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-607252577687437879 .tablet\:gp-static{position:static}.gps-607252577687437879 .tablet\:\!gp-absolute{position:absolute!important}.gps-607252577687437879 .tablet\:gp-left-0{left:0}.gps-607252577687437879 .tablet\:gp-right-0{right:0}.gps-607252577687437879 .tablet\:gp-z-2{z-index:2}.gps-607252577687437879 .tablet\:gp-block{display:block}.gps-607252577687437879 .tablet\:\!gp-flex{display:flex!important}.gps-607252577687437879 .tablet\:\!gp-hidden{display:none!important}.gps-607252577687437879 .tablet\:gp-hidden{display:none}.gps-607252577687437879 .tablet\:gp-h-auto{height:auto}.gps-607252577687437879 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-607252577687437879 .tablet\:gp-flex-none{flex:none}.gps-607252577687437879 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-607252577687437879 .tablet\:gp-rotate-0,.gps-607252577687437879 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-607252577687437879 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-607252577687437879 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-607252577687437879 .tablet\:gp-flex-row{flex-direction:row}.gps-607252577687437879 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-607252577687437879 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-607252577687437879 .mobile\:gp-absolute{position:absolute}.gps-607252577687437879 .mobile\:\!gp-relative{position:relative!important}.gps-607252577687437879 .mobile\:gp-left-0{left:0}.gps-607252577687437879 .mobile\:gp-right-0{right:0}.gps-607252577687437879 .mobile\:gp-block{display:block}.gps-607252577687437879 .mobile\:\!gp-flex{display:flex!important}.gps-607252577687437879 .mobile\:\!gp-hidden{display:none!important}.gps-607252577687437879 .mobile\:gp-hidden{display:none}.gps-607252577687437879 .mobile\:gp-h-auto{height:auto}.gps-607252577687437879 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-607252577687437879 .mobile\:gp-flex-none{flex:none}.gps-607252577687437879 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-607252577687437879 .mobile\:gp-rotate-0,.gps-607252577687437879 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-607252577687437879 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-607252577687437879 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-607252577687437879 .mobile\:gp-flex-row{flex-direction:row}.gps-607252577687437879 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-607252577687437879 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-607252577687437879 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-607252577687437879 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-607252577687437879 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-607252577687437879 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhHMWkANDP&skey=c27c9a4f66e66f55&v=v20) format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhycKkANDP&skey=c27c9a4f66e66f55&v=v20) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUS2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUb2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUQ2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUR2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUf2zcZiVbJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUS2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUb2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUQ2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUR2zcZiVbJsNo.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v20/jizDREVItHgc8qDIbSTKq4XkRiUf2zcZiVbJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:relative;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gTVZCL8yPZ"}' data-id="gTVZCL8yPZ" id="gTVZCL8yPZ" data-same-height-subgrid-container class="gTVZCL8yPZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:60px;--pb:0px;--pt-tablet:60px;--pb-tablet:0px;--pt-mobile:30px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvbpVVpVWv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gX3JvuIMKs"}' data-id="gX3JvuIMKs" id="gX3JvuIMKs" data-same-height-subgrid-container class="gX3JvuIMKs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:57px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--mb-tablet:57px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--mb-mobile:40px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1185px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gU5nKdPPFt gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRijDoBxwr"
        class="gRijDoBxwr"
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:70%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:28px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRijDoBxwr_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-carousel-v3 gp-data='{"id":"gqeDK5iIOt","setting":{"childItem":["Item 2","Item 4","Item 3","Item 2"],"itemNumber":{"desktop":4,"tablet":2,"mobile":1},"navigationStyle":{"desktop":"inside","mobile":"outside"},"dotStyle":{"desktop":"outside","mobile":"inside"},"sneakPeak":{"desktop":false},"sneakPeakType":{"desktop":"forward"},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakOffsetCenter":{"desktop":50},"vertical":{"desktop":false},"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false},"dotSize":{"desktop":12},"dotGapToCarousel":{"desktop":16},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"navigationEnable":{"desktop":true,"mobile":true},"arrowCustom":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-regular\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508418455613473128\">\n      <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z\"></path></svg>\n    ","arrowCustomColor":"#DDDDDD","arrowIconSize":{"desktop":24,"mobile":"1000"},"arrowButtonSize":{"desktop":{"shapeValue":"1/1","shapeLinked":true,"padding":{"linked":true,"type":"custom","top":"16px","bottom":"16px","left":"16px","right":"16px"}},"mobile":{"shapeValue":"1/1","shapeLinked":true,"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px","link":true},"shape":"","customShapeValue":"","width":"40px","height":"40px","gap":""}},"arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":true}},"arrowShadow":{"desktop":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false}},"roundedArrow":{"desktop":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}},"arrowGapToEachSide":"0","showWhenHover":false,"rtl":false,"autoplay":false,"autoplayTimeout":2,"pauseOnHover":true,"runPreview":false,"enableDrag":{"desktop":true},"loop":{"desktop":false},"animationMode":"ease-in","background":{"desktop":{"type":"color","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"label":true},"styles":{"fullWidth":{"desktop":false,"tablet":false,"mobile":false},"sizeSetting":{"desktop":{"shapeLinked":false,"width":"default","height":"auto"}},"backgroundImage":{"desktop":{}},"playSpeed":500,"align":{"desktop":"center"},"borderContent":{"borderType":"none","border":"none","width":"1px 1px 1px 1px","position":"all","borderWidth":"1px","color":"line-3","isCustom":true},"roundedContent":{"radiusType":"none"},"hasActiveShadow":false,"carouselShadow":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false},"spacing":{"desktop":"25","mobile":"30"},"itemPadding":{"desktop":{"padding":{}}}}}' data-id="gqeDK5iIOt" id="gp-root-carousel-gqeDK5iIOt" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gqeDK5iIOt gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--mt:40px;--mt-tablet:40px;--mt-mobile:40px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--bgi:none;--bgi-tablet:none;--bgi-mobile:none"
      >
        <div class="gp-relative gp-overflow-hidden gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:auto;--h-tablet:auto;--h-mobile:100%;gap:0px">
          
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gqeDK5iIOt gqeDK5iIOt gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-relative"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:flex;--left:0px;--right:initial;--top:initial;--bottom:;--left-tablet:0px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:auto;--w-tablet:auto;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:40px;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gqeDK5iIOt {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gqeDK5iIOt::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gqeDK5iIOt {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gqeDK5iIOt::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gqeDK5iIOt {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gqeDK5iIOt::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#DDDDDD;--w:24px;--w-tablet:24px;--w-mobile:1000px;--h:24px;--h-tablet:24px;--h-mobile:1000px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
          <div id="gp-carousel-gqeDK5iIOt" dir="ltr" style="overflow:hidden;flex:1;width:100%;height:100%">
            <div class="gem-slider-wrapper gp-flex gp-content-start gp-h-full gp-select-none !gp-max-w-none gp-carousel-slider-gqeDK5iIOt mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full">
              
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gqeDK5iIOt gp-child-item-gqeDK5iIOt gzc885YY5S"
      style="--minw:calc(100% / 4 - 18.75px);--minw-tablet:calc(100% / 2 - 12.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 18.75px);--maxw-tablet:calc(100% / 2 - 12.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:25px;--mr-tablet:25px;--mr-mobile:30px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gJ2M_xP2VT"}' data-id="gJ2M_xP2VT" id="gJ2M_xP2VT" data-same-height-subgrid-container class="gJ2M_xP2VT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:relative;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:100%;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gr387EzApR gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gMNk8UnUeR gp-custom-code">
      <div>
    <div class="video-box">
  <video class="revVideo" preload="metadata">
    <source src="https://cdn.shopify.com/videos/c/o/v/14f4c97e3d98431a8850e3398a19bacf.mp4" type="video/mp4">
  </video>

  <div class="play_btn">
    <img src="https://img.funnelish.com/55043/547161/1733985092-icon-play-v4.svg">
  </div>
</div>
    </div>
    </div>
  
      <style id="custom-css-gMNk8UnUeR">
        .video-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  display: block;
}

/* center button */
.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
}

.play_btn img {
  width: 60px;
  height: 60px;
}
      </style>
    
      <script id="custom-js-gMNk8UnUeR">
        try {
          document.querySelectorAll(".video-box").forEach(box => {
  const video = box.querySelector("video");
  const btn = box.querySelector(".play_btn");

  btn.addEventListener("click", () => {
    // pause all videos
    document.querySelectorAll(".video-box video").forEach(v => v.pause());
    document.querySelectorAll(".video-box .play_btn").forEach(b => b.style.display = "flex");

    video.play();
    btn.style.display = "none";
  });

  video.addEventListener("click", () => {
    if (!video.paused) {
      video.pause();
      btn.style.display = "flex";
    }
  });

  video.addEventListener("ended", () => {
    btn.style.display = "flex";
  });
});
        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gqeDK5iIOt gp-child-item-gqeDK5iIOt g1jwTpHNSf"
      style="--minw:calc(100% / 4 - 18.75px);--minw-tablet:calc(100% / 2 - 12.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 18.75px);--maxw-tablet:calc(100% / 2 - 12.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:25px;--mr-tablet:25px;--mr-mobile:30px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gXKuLb_keo"}' data-id="gXKuLb_keo" id="gXKuLb_keo" data-same-height-subgrid-container class="gXKuLb_keo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:relative;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:100%;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g6W8UtsSAL gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="glm1sWifBw gp-custom-code">
      <div>
    <div class="video-box">
  <video class="revVideo" preload="metadata">
    <source src="https://cdn.shopify.com/videos/c/o/v/03a7217e81f04d97b229af817a07324c.mp4" type="video/mp4">
  </video>

  <div class="play_btn">
    <img src="https://img.funnelish.com/55043/547161/1733985092-icon-play-v4.svg">
  </div>
</div>
    </div>
    </div>
  
      <style id="custom-css-glm1sWifBw">
        .video-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  display: block;
}

/* center button */
.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
}

.play_btn img {
  width: 60px;
  height: 60px;
}
      </style>
    
      <script id="custom-js-glm1sWifBw">
        try {
          document.querySelectorAll(".video-box").forEach(box => {
  const video = box.querySelector("video");
  const btn = box.querySelector(".play_btn");

  btn.addEventListener("click", () => {
    // pause all videos
    document.querySelectorAll(".video-box video").forEach(v => v.pause());
    document.querySelectorAll(".video-box .play_btn").forEach(b => b.style.display = "flex");

    video.play();
    btn.style.display = "none";
  });

  video.addEventListener("click", () => {
    if (!video.paused) {
      video.pause();
      btn.style.display = "flex";
    }
  });

  video.addEventListener("ended", () => {
    btn.style.display = "flex";
  });
});
        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gqeDK5iIOt gp-child-item-gqeDK5iIOt g_LVEPmdoN"
      style="--minw:calc(100% / 4 - 18.75px);--minw-tablet:calc(100% / 2 - 12.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 18.75px);--maxw-tablet:calc(100% / 2 - 12.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:25px;--mr-tablet:25px;--mr-mobile:30px"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g5aFTjqLIt"}' data-id="g5aFTjqLIt" id="g5aFTjqLIt" data-same-height-subgrid-container class="g5aFTjqLIt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:relative;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:100%;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gPz4RJHgMs gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gkv0zC24p2 gp-custom-code">
      <div>
    <div class="video-box">
  <video class="revVideo" preload="metadata">
    <source src="https://cdn.shopify.com/videos/c/o/v/efbf1082714f4e13a15d4db5dddbbc03.mp4" type="video/mp4">
  </video>

  <div class="play_btn">
    <img src="https://img.funnelish.com/55043/547161/1733985092-icon-play-v4.svg">
  </div>
</div>
    </div>
    </div>
  
      <style id="custom-css-gkv0zC24p2">
        .video-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  display: block;
}

/* center button */
.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
}

.play_btn img {
  width: 60px;
  height: 60px;
}
      </style>
    
      <script id="custom-js-gkv0zC24p2">
        try {
          document.querySelectorAll(".video-box").forEach(box => {
  const video = box.querySelector("video");
  const btn = box.querySelector(".play_btn");

  btn.addEventListener("click", () => {
    // pause all videos
    document.querySelectorAll(".video-box video").forEach(v => v.pause());
    document.querySelectorAll(".video-box .play_btn").forEach(b => b.style.display = "flex");

    video.play();
    btn.style.display = "none";
  });

  video.addEventListener("click", () => {
    if (!video.paused) {
      video.pause();
      btn.style.display = "flex";
    }
  });

  video.addEventListener("ended", () => {
    btn.style.display = "flex";
  });
});
        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gqeDK5iIOt gp-child-item-gqeDK5iIOt g2V2gIGTPc"
      style="--minw:calc(100% / 4 - 18.75px);--minw-tablet:calc(100% / 2 - 12.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 18.75px);--maxw-tablet:calc(100% / 2 - 12.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:25px;--mr-tablet:25px;--mr-mobile:30px"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gTJvDdwNq7"}' data-id="gTJvDdwNq7" id="gTJvDdwNq7" data-same-height-subgrid-container class="gTJvDdwNq7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:relative;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:100%;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="guJWskJpNT gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gAuUTTy4go gp-custom-code">
      <div>
    <div class="video-box">
  <video class="revVideo" preload="metadata">
    <source src="https://cdn.shopify.com/videos/c/o/v/f1e6b209b246412c8fecaf87a15f5c5b.mp4" type="video/mp4">
  </video>

  <div class="play_btn">
    <img src="https://img.funnelish.com/55043/547161/1733985092-icon-play-v4.svg">
  </div>
</div>
    </div>
    </div>
  
      <style id="custom-css-gAuUTTy4go">
        .video-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  display: block;
}

/* center button */
.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
}

.play_btn img {
  width: 60px;
  height: 60px;
}
      </style>
    
      <script id="custom-js-gAuUTTy4go">
        try {
          document.querySelectorAll(".video-box").forEach(box => {
  const video = box.querySelector("video");
  const btn = box.querySelector(".play_btn");

  btn.addEventListener("click", () => {
    // pause all videos
    document.querySelectorAll(".video-box video").forEach(v => v.pause());
    document.querySelectorAll(".video-box .play_btn").forEach(b => b.style.display = "flex");

    video.play();
    btn.style.display = "none";
  });

  video.addEventListener("click", () => {
    if (!video.paused) {
      video.pause();
      btn.style.display = "flex";
    }
  });

  video.addEventListener("ended", () => {
    btn.style.display = "flex";
  });
});
        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
            </div>
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gqeDK5iIOt gqeDK5iIOt gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-relative"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:flex;--right:0px;--left:initial;--top:;--bottom:initial;--right-tablet:0px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:auto;--w-tablet:auto;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:40px;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gqeDK5iIOt {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gqeDK5iIOt::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gqeDK5iIOt {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gqeDK5iIOt::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gqeDK5iIOt {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gqeDK5iIOt::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#DDDDDD;--w:24px;--w-tablet:24px;--w-mobile:1000px;--h:24px;--h-tablet:24px;--h-mobile:1000px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gqeDK5iIOt gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--mt:16px;--mt-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel-v3>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v3-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gpS58fZ60v"}' data-id="gpS58fZ60v" id="gpS58fZ60v" data-same-height-subgrid-container class="gpS58fZ60v gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6FDidCqgT gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"scroll-to","link":"#gjzcXj9MKg","target":"_self","title":"Section 1"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:30px;--pt:0px;--mt-tablet:30px;--pt-tablet:0px;--mt-mobile:30px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gozJGZwx40"].gp-button-base::before, [data-id="gozJGZwx40-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gozJGZwx40"]:hover::before, [data-id="gozJGZwx40-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gjzcXj9MKg
            target=_self
          ></a>
        <a
          data-id="gozJGZwx40" dataId="gozJGZwx40" data-state="idle" aria-label="<p>BUY NOW &amp; SAVE</p>"
          
          href="#gjzcXj9MKg" target="_self"
          style="--w:565px;--w-tablet:565px;--w-mobile:565px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--bgi:;--bg:#135D4B;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%"
          class="gozJGZwx40 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggozJGZwx40_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gC3ZUwDvNk"}' data-id="gC3ZUwDvNk" id="gC3ZUwDvNk" data-same-height-subgrid-container class="gC3ZUwDvNk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:20px;--pt:0px;--mt-tablet:20px;--pt-tablet:0px;--mt-mobile:10px;--pt-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:10px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g6M3O4oNyD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gT7RA0zAwQ"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232725109 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gT7RA0zAwQ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggT7RA0zAwQ_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0LTE0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9InVybCgjZy0xNC0xNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0IiB0bz0iMTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggT7RA0zAwQ_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0LTE0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9InVybCgjZy0xNC0xNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0IiB0bz0iMTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggT7RA0zAwQ_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0LTE0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9InVybCgjZy0xNC0xNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0IiB0bz0iMTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggT7RA0zAwQ_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:17px;--w-tablet:17px;--w-mobile:17px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gh-o3BdnhV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gI0_DfV4lM"
        class="gI0_DfV4lM"
        style="--ta:left;--mt:0px;--mt-tablet:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Libre-Franklin, 'Libre Franklin'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggI0_DfV4lM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="geZG_jwcx8"
      style="--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:absolute;--right:0px;--bottom:-20px;--bottom-mobile:-4px;--z:1;--left:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232725111 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto geZG_jwcx8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggeZG_jwcx8_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggeZG_jwcx8_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ section.settings.ggeZG_jwcx8_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ section.settings.ggeZG_jwcx8_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-607252577687437879 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607167922405638711&sectionId=607252577687437879)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRijDoBxwr_text","label":"ggRijDoBxwr_text","default":"See Why This Ancient Superfood Is Loved Daily for Transforming Health"},{"type":"html","id":"ggozJGZwx40_label","label":"ggozJGZwx40_label","default":"<p>BUY NOW &amp; SAVE</p>"},{"type":"html","id":"ggT7RA0zAwQ_srcSet_desktop_src","label":"ggT7RA0zAwQ_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/1734001034-chk.svg"},{"type":"html","id":"ggI0_DfV4lM_text","label":"ggI0_DfV4lM_text","default":"<p>365-Day Money Back Guarantee</p>"},{"type":"html","id":"ggeZG_jwcx8_srcSet_desktop_src","label":"ggeZG_jwcx8_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/1734002266-img_shape_two.svg"},{"type":"html","id":"ggeZG_jwcx8_srcSet_mobile_src","label":"ggeZG_jwcx8_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/1734002266-img_shape_two.svg"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}