
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608106989943260058.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-608106989943260058.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-608106989943260058.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608106989943260058.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608106989943260058.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608106989943260058.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608106989943260058.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608106989943260058.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608106989943260058.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608106989943260058.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608106989943260058.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608106989943260058.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608106989943260058.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608106989943260058.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608106989943260058.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608106989943260058.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-608106989943260058.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608106989943260058.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608106989943260058.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608106989943260058.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608106989943260058.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608106989943260058.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608106989943260058.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608106989943260058.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608106989943260058.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-608106989943260058.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608106989943260058.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-608106989943260058.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608106989943260058.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608106989943260058.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608106989943260058.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-608106989943260058.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-608106989943260058.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608106989943260058.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-608106989943260058.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608106989943260058.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608106989943260058.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-608106989943260058.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-608106989943260058.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-608106989943260058.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608106989943260058.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608106989943260058.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608106989943260058.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608106989943260058.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608106989943260058.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608106989943260058.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608106989943260058.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608106989943260058.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608106989943260058.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608106989943260058.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-608106989943260058.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-608106989943260058.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608106989943260058.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608106989943260058.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608106989943260058.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-608106989943260058.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-608106989943260058.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608106989943260058.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-608106989943260058.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-608106989943260058.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608106989943260058.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-608106989943260058.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-608106989943260058.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608106989943260058.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608106989943260058.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608106989943260058.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608106989943260058.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-608106989943260058.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-608106989943260058.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608106989943260058.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608106989943260058.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-608106989943260058.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608106989943260058.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608106989943260058.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-608106989943260058.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-608106989943260058.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608106989943260058.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-608106989943260058.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-608106989943260058.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608106989943260058.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608106989943260058.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608106989943260058.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608106989943260058.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-608106989943260058.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-608106989943260058.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608106989943260058.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608106989943260058 .gp-relative{position:relative}.gps-608106989943260058 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608106989943260058 .gp-mb-0{margin-bottom:0}.gps-608106989943260058 .gp-inline-block{display:inline-block}.gps-608106989943260058 .gp-flex{display:flex}.gps-608106989943260058 .gp-grid{display:grid}.gps-608106989943260058 .gp-contents{display:contents}.gps-608106989943260058 .\!gp-hidden{display:none!important}.gps-608106989943260058 .gp-hidden{display:none}.gps-608106989943260058 .gp-h-auto{height:auto}.gps-608106989943260058 .gp-h-full{height:100%}.gps-608106989943260058 .gp-w-full{width:100%}.gps-608106989943260058 .gp-max-w-full{max-width:100%}.gps-608106989943260058 .gp-flex-none{flex:none}.gps-608106989943260058 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608106989943260058 .gp-flex-col{flex-direction:column}.gps-608106989943260058 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608106989943260058 .gp-duration-200{transition-duration:.2s}.gps-608106989943260058 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608106989943260058 .tablet\:\!gp-hidden{display:none!important}.gps-608106989943260058 .tablet\:gp-hidden{display:none}.gps-608106989943260058 .tablet\:gp-h-auto{height:auto}.gps-608106989943260058 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-608106989943260058 .mobile\:\!gp-hidden{display:none!important}.gps-608106989943260058 .mobile\:gp-hidden{display:none}.gps-608106989943260058 .mobile\:gp-h-auto{height:auto}.gps-608106989943260058 .mobile\:gp-flex-none{flex:none}}.gps-608106989943260058 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gLZWLZGNg_"}' data-id="gLZWLZGNg_" id="gLZWLZGNg_" data-same-height-subgrid-container class="gLZWLZGNg_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:50px;--pb:0px;--pt-tablet:25px;--pb-tablet:0px;--pt-mobile:20px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gU2hh5N4h0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gr0BoL8QCi"}' data-id="gr0BoL8QCi" id="gr0BoL8QCi" data-same-height-subgrid-container class="gr0BoL8QCi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:20px;--pb:0px;--pr:20px;--mb-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--mb-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:757px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gg2_-wRh3t gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGud5EvLC1"
        class="gGud5EvLC1"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-SFPRODISPLAYREGULAR, 'SFPRODISPLAYREGULAR'), var(--g-font-body, body);--weight:400;--size:15.6px;--size-tablet:12px;--size-mobile:12px;--lh:136.6%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGud5EvLC1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEEmq0HLtq"
        class="gEEmq0HLtq"
        style="--ta:left;--mt:19px;--ml:0px;--mb:19px;--mt-tablet:19px;--ml-tablet:0px;--mb-tablet:19px;--mt-mobile:19px;--ml-mobile:0px;--mb-mobile:19px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-SF-Pro-Text-Regular, 'SF-Pro-Text-Regular'), var(--g-font-body, body);--weight:400;--size:31.2px;--size-tablet:24px;--size-mobile:24px;--lh:136.4%;--lh-tablet:136.4%;--lh-mobile:136.4%;--ls:-0.31px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEEmq0HLtq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gr1GUR001Z"
        class="gr1GUR001Z"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-SF-Pro-Text-Regular, 'SF-Pro-Text-Regular'), var(--g-font-body, body);--weight:400;--size:18.2px;--size-tablet:14px;--size-mobile:14px;--lh:23.4px;--lh-tablet:136.4%;--lh-mobile:136.4%;--ls:-0.18px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggr1GUR001Z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="ge9qI_M9Y2"
      style="--mt:40px;--ml:0px;--mb:40px;--mt-tablet:20px;--ml-tablet:0px;--mb-tablet:20px;--mt-mobile:20px;--ml-mobile:0px;--mb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232741988 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ge9qI_M9Y2"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gge9qI_M9Y2_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA5NiIgaGVpZ2h0PSI2MTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwOTYtNjEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDk2IiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA5NiIgaGVpZ2h0PSI2MTIiIGZpbGw9InVybCgjZy0xMDk2LTYxMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwOTYiIHRvPSIxMDk2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gge9qI_M9Y2_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA5NiIgaGVpZ2h0PSI2MTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwOTYtNjEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDk2IiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA5NiIgaGVpZ2h0PSI2MTIiIGZpbGw9InVybCgjZy0xMDk2LTYxMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwOTYiIHRvPSIxMDk2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.gge9qI_M9Y2_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA5NiIgaGVpZ2h0PSI2MTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwOTYtNjEyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDk2IiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA5NiIgaGVpZ2h0PSI2MTIiIGZpbGw9InVybCgjZy0xMDk2LTYxMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwOTYiIHRvPSIxMDk2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.gge9qI_M9Y2_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gC2Y-vxb8-"}' data-id="gC2Y-vxb8-" id="gC2Y-vxb8-" data-same-height-subgrid-container class="gC2Y-vxb8- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--cg-tablet:8px;--rg:16px;--rg-tablet:8px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g0e17GBMCC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsowT7YBjj"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232741991 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsowT7YBjj"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggsowT7YBjj_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTYxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgZmlsbD0idXJsKCNnLTYxMi02MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggsowT7YBjj_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTYxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgZmlsbD0idXJsKCNnLTYxMi02MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggsowT7YBjj_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTYxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjYxMiIgZmlsbD0idXJsKCNnLTYxMi02MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggsowT7YBjj_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:43px;--w-tablet:39px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:circle;--btrr:999999px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g00MLLKHyA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grgZhQ453B"
        class="grgZhQ453B"
        style="--ta:left;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-SF-Pro-Text-Semibold, 'SF-Pro-Text-Semibold'), var(--g-font-body, body);--weight:400;--size:16.9px;--size-tablet:14px;--size-mobile:14px;--lh:18.5px;--lh-tablet:110%;--lh-mobile:110%;--ls:-0.16px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrgZhQ453B_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLJ1BywQwX"
        class="gLJ1BywQwX"
        style="--ta:left;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-SF-Pro-Text-Regular, 'SF-Pro-Text-Regular'), var(--g-font-body, body);--weight:400;--size:15.9px;--size-tablet:14px;--size-mobile:14px;--lh:18.5px;--lh-tablet:110%;--lh-mobile:110%;--ls:-0.16px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLJ1BywQwX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gp9N3avZzN"
        class="gp9N3avZzN"
        style="--ta:left;--mt:19px;--mt-tablet:19px;--mt-mobile:19px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-SF-Pro-Text-Medium, 'SF-Pro-Text-Medium'), var(--g-font-body, body);--weight:400;--size:16.9px;--size-tablet:14px;--size-mobile:14px;--lh:136.4%;--lh-tablet:136.4%;--lh-mobile:136.4%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggp9N3avZzN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-608106989943260058 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608106698237805466&sectionId=608106989943260058)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGud5EvLC1_text","label":"ggGud5EvLC1_text","default":"<p><span style=\"color:rgba(5, 5, 5, 0.5);\">Health Alert › Austin, TX ›</span> Gut Health Breakthrough</p>"},{"type":"html","id":"ggEEmq0HLtq_text","label":"ggEEmq0HLtq_text","default":"<p>Austin Husband's 2-Year Search to Save His Wife From \"IBS\" Leads to <span style=\"color:#B22121;\"><strong>Forgotten Remedy</strong></span> That Exposed What Was Really Hiding Inside Her</p>"},{"type":"html","id":"ggr1GUR001Z_text","label":"ggr1GUR001Z_text","default":"<p>The ancient transdermal delivery method that dissolves the invisible \"fortress\" shielding parasites from every pill, capsule, and cleanse — and why the $24 billion gut health industry hopes you never learn about it</p>"},{"type":"html","id":"gge9qI_M9Y2_srcSet_desktop_src","label":"gge9qI_M9Y2_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/istockphoto-1147544807-612x612_copy.jpg"},{"type":"html","id":"ggsowT7YBjj_srcSet_desktop_src","label":"ggsowT7YBjj_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/istockphoto-1147544807-612x612.jpg"},{"type":"html","id":"ggrgZhQ453B_text","label":"ggrgZhQ453B_text","default":"<p>Anna Leavy</p>"},{"type":"html","id":"ggLJ1BywQwX_text","label":"ggLJ1BywQwX_text","default":"<p>Health &amp; Medicine Research Journalist</p>"},{"type":"html","id":"ggp9N3avZzN_text","label":"ggp9N3avZzN_text","default":"<p>Written August 9th, 2025</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}